/* CTA SECTIONS 
********************************/

.cta {
	.wrapper {
		padding:6% 8% 5% !important;
	}
	.cta-content {
		.cta-title {
			font-size:36px;
		}
		.cta-text {
			font-size:22px;
		}
		.cta-whats-next {
			font-size:24px!important;
		}
	}
	.btn {
		font-size:24px !important;
		padding-top:18px !important;
		padding-bottom:15px !important;
	}
}
.home {
	.cta {}
}
//.cta

/* BUTTONS & FORMS
********************************/

.gform_wrapper {
	.gf_progressbar_wrapper {
		.gf_progressbar_title {}
		.gf_progressbar {
			.gf_progressbar_percentage {
				&.percentbar_0 {
					span {}
				}
				&.percentbar_50 {}
			}
		}
		//.gf_progressbar
	}
	//.gf_progressbar_wrapper
	.validation_error {}
	//.validation_error
	.gform_body {
		input {}
		.gform_page {
			.gform_page_fields {
				.gform_fields {
					@include clearfix;
					.gfield {
						&.gsection {
							.gsection_title {}
						}
						//.gsection
						&.full {}
						&.half {
							width:49.3%;
							&.right {
							}
						}
						.gfield_label {
							.gfield_required {}
						}
						.ginput_container {
							& > input, textarea {}
							textarea {
								margin-top:20px;
							}
							.gfield_radio {
								li {}
								input {}
								label {}
								input:checked + label {}
							}
							//.gfield_radio
							.ginput_counter {}
						}
						//.ginput_container
						.gfield_description {
							&.validation_message {}
						}
						&.gfield_error {
							.ginput_container {
								input[type=text],textarea {}
							}
						}
						//.gfield_error
					}
					//.gfield
					.gform_validation_container {}
					//.gform_validation_container
				}
				//.gform_fields
			}
			//.gform_page_fields
			.gform_page_footer {
				input[type=button] {
					&.gform_previous_button {}
					&.gform_next_button {}
				}
				input[type=submit] {}
			}
			//.gform_page_footer
		}
		//.gform_page
	}
	//.gform_body
}
//.gform_wrapper

/* MOBILE NAVIGATION
********************************/
.mobile-navigation {}
//.mobile-navigation

.wrapper {}

.site-header {
	width:20%;
	.wrapper {}
	.site-branding {
		.site-title, .site-description {
			img {}
		}
		.site-title {}
		.site-description {
			img {}
		}
	}
	//.site-branding
	.main-navigation {
		.menu-main-navigation-container {
			.menu {
				.menu-item {
					a {}
					&:hover {
						a {}
					}
					&.about {
						a {}
						&:hover {}
					}
					&.work {
						a {}
						&:hover {}
					}
					&.blog {
						a {}
						&:hover {}
					}
					&.contact {
						a {}
						&:hover {}
					}
				}
				//.page_item
			}
			//.menu
		}
		//.menu-main-navigation-container
	}
	//.main-navigation
	.toggles {
		.menu-toggle, .hire-me {}
		.menu-toggle {}
		.hire-me {}
	}
	//.toggles
	.social {
		a {
			&.dribbble {}
			&.twitter {}
			&.linkedin {}
		}
	}
}
//.site-header
.site-content {
	width:80.1%;
	.wrapper {}

	// HOMEPAGE STYLES
	/***********************************/

	.main-banner {
		.slide_link {}
		.main-title {
			span {}
		}
		.main-text {}
	}
	//.main-banner
	.home-skills {
		padding-top:0;
		.skills-header {
			.skills-title {
				font-size:300px;
			}
		}
		//.skills-header
		.skills-list-wrap {
			margin-top:-130px;
			.wrapper {}
			$marg-right: 5.75%;
			$width: 15.4%;
			.skills-icons {
				.skill-icon {
					margin-right:$marg-right;
					margin-top:-55px;
					width:$width;
					&:nth-child(3) {
						margin-right:$marg-right;
					}
					&:nth-child(4) {}
					&:nth-child(4),
					&:nth-child(5) {
						margin-top:-55px;
					}
					&:nth-child(5) {
						margin-right:0;
					}
					img {}
					&.toggled {
						&.triangle-toggled {
							&:after {}
						}
						//.text-toggled
					}
					//.toggled
					&.triangle-toggled {
						&:after {}
					}
					//.triangle-toggled
					.skill-icon {
						img {}
					}
				}
				//.skill
				&:after {
					display:none;
				}
			}
			//.skills-icons
			.skills-text {
				@include clearfix;
				clear:both;
				padding-top:15px;
				.skill-text {
					@include opacity(100);
					float:left;
					font-size:15px;
					margin-right:$marg-right;
					position:static;
					width:$width;
					&:nth-child(5) {
						margin:0;
					}
					&.text-toggled {}
				}
			}
			//.skills-text
		}
		//.skills-list-wrap
	}
	//.home-skills


	/***********************************/
	// END OF HOMEPAGE STYLES
	
	// INTERIOR STYLES
	/***********************************/
	
	.content-area {
		.entry-header {
			.entry-info {
				.entry-icon {
					img {}
				}
				.entry-tagline {
					width:590px;
					.entry-title {}
				}
			}
			//.entry-info
			.entry-image {
				img {}
			}
			//.entry-image
		}
		//.entry-header
		.type-page {
			.entry-content {
				padding:6% 8%;
				p {
					font-size:18px;
				}
			}
			//.entry-content

			.add-skills {
				padding:5% 7% 5%;
				.add-skills-header {
					.add-skills-title {}
					.add-skills-text {
						font-size:22px;
					}
				}
				//.add-skills-header
				.add-skills-content {
					max-width:513px;
					.skills {
						.skill {
							.skill-icon {
								img {}
							}
							//.skill-icon
							&:last-child {}
						}
						//.skill
					}
					//.skills
				}
				//.add-skills-content
			}
			//.add-skills
		}
		//.type-page
		.type-jtw_work {
			.entry-header {
				.entry-info {
					.client-logo {
						width:22%;
						img {}
					}
					//.client-logo
					.entry-title {}
					.entry-desc {
						font-size:24px;
						max-width:660px;
					}
				}
				//.entry-info
			}
			//.entry-header
			.entry-content {
				.detail {
					.wrapper {}
					.detail-header {
						.detail-title {
							font-size:46px;
						}
					}
					//.detail-header
					.detail-content {
						.detail-image {
							.container {
								img {}	
							}
							&.is-website {
								.container {}
							}
						}
						//.detail-image
					}
					//.detail-content
					&:nth-of-type(2n) {}
				}
				//.detail
			}
			//.entry-content
		}
		//.type-jtw_work
		.work-archive {
			.entry-content {
				.project {
					width:25%;
					.project-image {
						img {}
					}
					//.project-image
					.project-content {
						.project-title {}
						.project-tags {
							.tag {
								&:first-child {}
							}
						}
						//.project-tags
					}
					//.project-content
				}
				//.project
			}
			//.entry-content
		}
		//.work-archive
		.blog-archive {
			.entry-content {
				padding:0;
				width:80%;
				.post {
					.wrapper {}
					.meta {
						.posted-on {
							span {
								&.posted {}
								&.month {}
								&.day {}
							}
						}
						//.posted-on
					}
					//.meta
					.post-content {
						.post-title {}
						.post-tags {
							.tag {}
						}
					}
					//.post-content
					&:nth-child(2n) {
						.meta {}
					}
					&:hover {
						.meta {}
					}
				}
				//.post
			}
			//.entry-content
			.sidebar {
				width:20%;
				.widget {
					.widget-title {}
					ul {
						li {
							a {}
							&:nth-child(even) {}
							&:hover {
								a {}
							}
						}
					}
				}
				//.widget
			}
			//.sidebar
		}
		//.blog-archive	
		&.single-post {
			.entry-content {
				padding:6% 8%;
				p {
					font-size:16px;
				}
			}	
		}
		//.single-post
		.comments {
			h3 {
				&#comments {}
			}
			.commentlist {
				.comment {
					a {}
					.comment-body {
						.comment-meta {
							.comment-author {
								img {}
							}
							//.comment-author
							.comment-metadata {
								a {}
							}
							//.comment-metadata
							.comment-awaiting-moderation {}
						}
						//.comment-meta
						.comment-content {
							p {}
						}
						//.comment-content
						.comment-reply-link {}
					}
					//.comment-body
					#respond {
						h3 {}
					}
					//#respond
					.children {
						.comment {}
					}
					//.children
				}
				//.comment
			}
			//.commentlist
			#respond {
				#cancel-comment-reply-link {}
				p {}
				form {
					@include clearfix;
					p {
						&:first-of-type {
							width:49%;
						}
						&:nth-child(2) {
							width:49%;
						}
					}
				}
				label {}
				input[type=text],textarea {}
				textarea {}
				input[type=submit] {}
			}
			//#respond
		}
		//.comments
	}
	//.content-area

	/***********************************/
	// END OF INTERIOR STYLES
}
// .site-content
.site-footer {
	width:80%;
	.site-info {}
	span {}
	img {}
	a {
		&:visited, &:hover, &:active {}
	}
}