/* CTA SECTIONS
********************************/

.cta {
	.wrapper {
		padding:6% 8% 5% !important;
	}
	.cta-content {
		.cta-title {
			font-size:36px;
		}
		.cta-text {
			font-size:22px;
		}
		.cta-whats-next {
			font-size:24px!important;
		}
	}
	.btn {
		font-size:24px !important;
		padding-top:18px !important;
		padding-bottom:15px !important;
	}
}
.home {
	.cta {}
}
//.cta

/* MOBILE NAVIGATION
********************************/
.mobile-navigation {}
//.mobile-navigation

.wrapper {}

.site-header {
	width:20%;
	.wrapper {}
	.site-branding {
		.site-title, .site-description {
			img {}
		}
		.site-title {}
		.site-description {
			img {}
		}
	}
	//.site-branding
	.main-navigation {
		.menu-main-navigation-container {
			.menu {
				.menu-item {
					a {}
					&:hover {
						a {}
					}
					&.about {
						a {}
						&:hover {}
					}
					&.work {
						a {}
						&:hover {}
					}
					&.blog {
						a {}
						&:hover {}
					}
					&.contact {
						a {}
						&:hover {}
					}
				}
				//.page_item
			}
			//.menu
		}
		//.menu-main-navigation-container
	}
	//.main-navigation
	.toggles {
		.menu-toggle, .hire-me {}
		.menu-toggle {}
		.hire-me {}
	}
	//.toggles
	.social {
		a {
			&.dribbble {}
			&.twitter {}
			&.linkedin {}
		}
	}
}
//.site-header
.site-content {
	width:80%;
	.wrapper {}

	// HOMEPAGE STYLES
	/***********************************/

	.main-banner {
		.slide_link {}
		.main-title {
			span {}
		}
		.main-text {}
	}
	//.main-banner
	.home-skills {
		padding-top:85px;
		.skills-header {
			.skills-title {
				font-size:300px;
			}
		}
		//.skills-header
		.skills-list-wrap {
			margin-top:-130px;
			.wrapper {}
			$marg-right: 5.75%;
			$width: 15.4%;
			.skills-icons {
				.skill-icon {
					margin-right:$marg-right;
					margin-top:-55px;
					width:$width;
					&:nth-child(3) {
						margin-right:$marg-right;
					}
					&:nth-child(4) {}
					&:nth-child(4),
					&:nth-child(5) {
						margin-top:-55px;
					}
					&:nth-child(5) {
						margin-right:0;
					}
					img {}
					&.toggled {
						&.triangle-toggled {
							&:after {}
						}
						//.text-toggled
					}
					//.toggled
					&.triangle-toggled {
						&:after {}
					}
					//.triangle-toggled
					.skill-icon {
						img {}
					}
				}
				//.skill
				&:after {
					display:none;
				}
			}
			//.skills-icons
			.skills-text {
				@include clearfix;
				clear:both;
				padding-top:15px;
				.skill-text {
					@include opacity(100);
					float:left;
					font-size:15px;
					margin-right:$marg-right;
					position:static;
					width:$width;
					&:nth-child(5) {
						margin:0;
					}
					&.text-toggled {}
				}
			}
			//.skills-text
		}
		//.skills-list-wrap
	}
	//.home-skills


	/***********************************/
	// END OF HOMEPAGE STYLES
	
	// INTERIOR STYLES
	/***********************************/
	
	.content-area {
		.entry-header {
			.entry-info {
				.entry-icon {
					img {}
				}
				.entry-tagline {
					width:590px;
					.entry-title {}
				}
			}
			//.entry-info
			.entry-image {
				img {}
			}
			//.entry-image
		}
		//.entry-header
		.type-page {
			.entry-content {
				padding:6% 8%;
				p {
					font-size:18px;
				}
			}
			//.entry-content

			.add-skills {
				padding:5% 7% 5%;
				.add-skills-header {
					.add-skills-title {}
					.add-skills-text {
						font-size:22px;
					}
				}
				//.add-skills-header
				.add-skills-content {
					max-width:513px;
					.skills {
						.skill {
							.skill-icon {
								img {}
							}
							//.skill-icon
							&:last-child {}
						}
						//.skill
					}
					//.skills
				}
				//.add-skills-content
			}
			//.add-skills
		}
		//.type-page
		.type-jtw_work {
			.entry-header {
				.entry-info {
					.client-logo {
						width:22%;
						img {}
					}
					//.client-logo
					.entry-title {}
					.entry-desc {
						font-size:18px;
						max-width:660px;
					}
				}
				//.entry-info
			}
			//.entry-header
			.entry-content {
				.detail {
					.wrapper {}
					.detail-header {
						.detail-title {
							font-size:46px;
						}
					}
					//.detail-header
					.detail-content {
						.detail-image {
							.container {
								img {}	
							}
							&.is-website {
								.container {}
							}
						}
						//.detail-image
					}
					//.detail-content
					&:nth-of-type(2n) {}
				}
				//.detail
			}
			//.entry-content
		}
		//.type-jtw_work
		.work-archive {
			.entry-content {
				.project {
					width:25%;
					.project-image {
						img {}
					}
					//.project-image
					.project-content {
						.project-title {}
						.project-tags {
							.tag {
								&:first-child {}
							}
						}
						//.project-tags
					}
					//.project-content
				}
				//.project
			}
			//.entry-content
		}
		//.work-archive
	}
	//.content-area

	/***********************************/
	// END OF INTERIOR STYLES
}
// .site-content
.site-footer {
	width:80%;
	.site-info {}
	span {}
	img {}
	a {
		&:visited, &:hover, &:active {}
	}
}