/* CTA SECTIONS
********************************/

.cta {
	.wrapper {}
	.cta-content {
		.cta-title {}
		.cta-text {}
	}
	.btn {
		font-size:32px !important;
	}
}
.home {
	.cta {}
}
//.cta

/* MOBILE NAVIGATION
********************************/
.mobile-navigation {}
//.mobile-navigation

.wrapper {}

.site-header {
	width:17%;
	.wrapper {}
	.site-branding {
		.site-title, .site-description {
			img {}
		}
		.site-title {}
		.site-description {
			img {}
		}
	}
	//.site-branding
	.main-navigation {
		.menu-main-navigation-container {
			.menu {
				.menu-item {
					a {}
					&:hover {
						a {}
					}
					&.about {
						a {}
						&:hover {}
					}
					&.work {
						a {}
						&:hover {}
					}
					&.blog {
						a {}
						&:hover {}
					}
					&.contact {
						a {}
						&:hover {}
					}
				}
				//.page_item
			}
			//.menu
		}
		//.menu-main-navigation-container
	}
	//.main-navigation
	.toggles {
		.menu-toggle, .hire-me {}
		.menu-toggle {}
		.hire-me {}
	}
	//.toggles
	.social {
		a {
			&.dribbble {}
			&.twitter {}
			&.linkedin {}
		}
	}
}
//.site-header
.site-content {
	width:83%;
	.wrapper {}

	// HOMEPAGE STYLES
	/***********************************/

	.main-banner {
		.slide_link {}
		.main-title {
			span {}
		}
		.main-text {}
	}
	//.main-banner
	.home-skills {
		.skills-header {
			.skills-title {
				font-size:332px;
			}
		}
		//.skills-header
		.skills-list-wrap {
			.wrapper {}
			.skills-list {
				&:after {}
				.skill {
					&:nth-child(3) {}
					&:nth-child(4) {}
					&:nth-child(4),
					&:nth-child(5) {}
					&:nth-child(5) {}
					&.toggled {
						&.text-toggled {
							.skill-icon {
								&:after {}
							}
							//.skill-icon
						}
						//.text-toggled
					}
					//.toggled
					&.text-toggled {
						.skill-icon {
							&:after {}
						}
						.skill-text {}
					}
					//.text-toggled
					.skill-icon {
						img {}
					}
					.skill-text {
						p {}
					}
				}
				//.skill
			}
			//.skills-list
		}
		//.skills-list-wrap
	}
	//.home-skills


	/***********************************/
	// END OF HOMEPAGE STYLES
	
	// INTERIOR STYLES
	/***********************************/
	
	.content-area {
		.type-page {
			.entry-header {
				.entry-info {
					.entry-icon {
						img {}
					}
					.entry-tagline {
						.entry-title {}
					}
				}
				//.entry-info
				.entry-image {
					padding-bottom:36%;
					img {}
				}
				//.entry-image
			}
			//.entry-header
			.entry-content {}
			//.entry-content

			.add-skills {
				.add-skills-header {
					.add-skills-title {}
				}
				//.add-skills-header
				.add-skills-content {
					.skills {
						.skill {
							.skill-icon {
								img {}
							}
							//.skill-icon
							&:last-child {}
						}
						//.skill
					}
					//.skills
				}
				//.add-skills-content
			}
			//.add-skills
		}
		//.type-page
	}
	//.content-area

	/***********************************/
	// END OF INTERIOR STYLES
}
// .site-content
.site-footer {
	width:83%;
	.site-info {}
	span {}
	img {}
	a {
		&:visited, &:hover, &:active {}
	}
}