/* CTA SECTIONS
********************************/

.cta {
	.wrapper {}
	.cta-content {
		.cta-title {
			font-size:28px;
		}
		.cta-text {
			font-size:18px;
		}
	}
	.single-jtw_work & {
		.btn {
			font-size:20px;
			padding:13px 17px 11px;
		}
	}
}
//.cta

/* MOBILE NAVIGATION
********************************/
.mobile-navigation {
	.menu-main-navigation-container {
		padding-top:55px;
		.menu {
			.menu-item {
				float:left;
				margin:0 4% 30px 0;
				width:22%;
				a {
					&:before {
						margin-left:-30px;
						width:60px;
					}
				}
				//a
				&:nth-child(2) {
					margin-right:4%;
				}
				&:last-child {
					margin-right:0;
				}
			}
			//.menu-item
		}
		//.menu
	}
	//.menu-main-navigation-container
	&.toggled {
		.menu-main-navigation-container {}
	}
}
//.mobile-navigation

.wrapper {}

.site-header {
	.wrapper {}
	.site-branding {
		.site-title, .site-description {
			img {}
		}
		.site-description {}
	}
	//.site-branding
	.main-navigation {}
	.toggles {
		.menu-toggle, .hire-me {}
		.menu-toggle {}
		.hire-me {}
	}
	//.toggles
	.social {
		a {
			&.dribbble {}
			&.twitter {}
			&.linkedin {}
		}
	}
}
//.site-header
.site-content {
	.wrapper {}

	// HOMEPAGE STYLES
	/***********************************/

	.main-banner {
		.slide_link {}
		.main-title {
			font-size:62px;
			span {
				font-size:30px;
			}
		}
		.main-text {
			font-size:16px;
		}
	}
	//.main-banner
	.home-skills {
		.skills-header {
			.skills-title {}
		}
		//.skills-header
		.skills-list-wrap {
			.wrapper {}
			.skills-icons {
				@include clearfix;
				padding-bottom:10px;
				&:after {
					color:lighten($drkgry,50%);
					content:"click a skill to display its description";
					font-size:24px;
					padding-top:40px;
					text-align:center;
					width:100%;
				}
				.skill-icon {
					margin-right:2%;
					margin-top:-25px;
					width:18.4%;
					&:nth-child(3) {
						margin-right:2%;
					}
					&:nth-child(4) {
						margin-left:0;
					}
					&:nth-child(4),
					&:nth-child(5) {
						margin-top:-25px;
					}
					&:nth-child(5) {
						margin-right:0;
					}
					&.toggled {
						margin-top:-25px;
						&.triangle-toggled {
							&:after {
								border-color: $drkrgry transparent transparent transparent;
								border-width: 16px 10px 0 10px;
								bottom:-7px;
								top:auto;
							}
						}
						//.triangle-toggled
					}
					//.toggled
					&.triangle-toggled {
						.skill-icon {
							&:after {}
						}
						.skill-text {}
					}
					//.triangle-toggled
					.skill-icon {
						img {}
					}
				}
				//.skill-icon
			}
			//.skills-icons
			.skills-text {
				margin:-44px 0 0;
				min-height:70px;
				.skill-text {
					background:$ltgry;
				}
			}
		}
		//.skills-list-wrap
	}
	//.home-skills


	/***********************************/
	// END OF HOMEPAGE STYLES
	
	// INTERIOR STYLES
	/***********************************/
	
	.content-area {
		.entry-header {
			.entry-info {
				.entry-icon {
					img {}
				}
				.entry-tagline {
					.entry-title {}
				}
			}
			//.entry-info
			.entry-image {
				padding-bottom:85%;
				img {}
			}
			//.entry-image
		}
		//.entry-header
		.type-page {
			.entry-content {}
			//.entry-content

			.add-skills {
				.add-skills-header {
					.add-skills-title {}
					.add-skills-text {}
				}
				//.add-skills-header
				.add-skills-content {
					.skills {
						.skill {
							.skill-icon {
								img {}
							}
							//.skill-icon
							&:last-child {}
						}
						//.skill
					}
					//.skills
				}
				//.add-skills-content
				.add-skills-header, .add-skills-content {
					margin:0 auto;
					max-width:75%;
				}
			}
			//.add-skills
		}
		//.type-page
		.type-jtw_work {
			.entry-header {
				.entry-info {
					.client-logo {
						width:40%;
						img {}
					}
					//.client-logo
					.entry-title {}
					.entry-desc {
						font-size:18px;
						.done-at-burst {
							@include font(lighten($grn,10%),$font,16px);
						}
					}
				}
				//.entry-info
			}
			//.entry-header
			.entry-content {
				.detail {
					.wrapper {}
					.detail-header {
						.detail-title {}
					}
					//.detail-header
					.detail-content {
						.detail-image {
							.container {
								img {}	
							}
							&.is-website {
								.container {}
							}
						}
						//.detail-image
					}
					//.detail-content
					&:nth-of-type(2n) {}
				}
				//.detail
			}
			//.entry-content
		}
		//.type-jtw_work
		.work-archive {
			.entry-content {
				.project {
					.project-image {
						img {}
					}
					//.project-image
					.project-content {
						.project-title {}
						.project-tags {
							.tag {
								&:first-child {}
							}
						}
						//.project-tags
					}
					//.project-content
				}
				//.project
			}
			//.entry-content
		}
		//.work-archive
	}
	//.content-area

	/***********************************/
	// END OF INTERIOR STYLES
}
// .site-content
.site-footer {
	.site-info {}
	span {}
	img {}
	a {
		&:visited, &:hover, &:active {}
	}
}

@media screen and (min-width:515px) {
	.site-content {
		.home-skills{
			.skills-list-wrap {
				.skills-list {
					padding-bottom:35px;
					.skill {
						.skill-text {
							top:90px;
						}
					}
				}
			}
			//.skills-list-wrap
		}
		//.home-skills
	}
	//.site-content
}
// end Media Query

@media screen and (min-width:580px) {
	.site-content {
		.home-skills{
			.skills-list-wrap {
				.skills-list {
					.skill {
						.skill-text {
							top:108px;
						}
					}
				}
			}
			//.skills-list-wrap
		}
		//.home-skills
	}
	//.site-content
}
// end Media Query