.site-content {
	.main-banner {
		.slide_link {}
		.main-title {
			span {}
		}
		.main-text {
			font-size:20px;
		}
	}
	//.main-banner
	.content-area {
		.type-jtw_work {
			.entry-header {
				.entry-info {
					.client-logo {
						img {}
					}
					//.client-logo
					.entry-title {
						font-size:36px;
					}
					.entry-desc {
						font-size:16px;
					}
				}
				//.entry-info
			}
			//.entry-header
			.entry-content {
				.detail {
					.wrapper {}
					.detail-header {
						.detail-title {}
					}
					//.detail-header
					.detail-content {
						.detail-image {
							.container {
								img {}	
							}
							&.is-website {
								.container {}
							}
						}
						//.detail-image
					}
					//.detail-content
					&:nth-of-type(2n) {}
				}
				//.detail
			}
			//.entry-content
		}
		//.type-jtw_work
	}
	//.content-area
}
//.site-content