/* CTA SECTIONS
********************************/

.cta {
	.wrapper {
		padding:40px 50px !important;
	}
	.cta-content {
		.cta-title {}
		.cta-text {}
	}
}
//.cta

/* MOBILE NAVIGATION
********************************/
.mobile-navigation {}
//.mobile-navigation

.wrapper {}

.site-header {
	.wrapper {}
	.site-branding {
		.site-title, .site-description {
			img {}
		}
		.site-description {}
	}
	//.site-branding
	.main-navigation {}
	.toggles {
		.menu-toggle, .hire-me {}
		.menu-toggle {}
		.hire-me {}
	}
	//.toggles
	.social {
		a {
			&.dribbble {}
			&.twitter {}
			&.linkedin {}
		}
	}
}
//.site-header
.site-content {
	.wrapper {}

	// HOMEPAGE STYLES
	/********************************/
	.main-banner {
		.slide_link {}
		.main-title {
			span {}
		}
		.main-text {}
	}
	//.main-banner
	.home-skills {
		.skills-header {
			.skills-title {}
		}
		//.skills-header
		.skills-list-wrap {
			.wrapper {}
			.skills-list {
				&:after {}
				.skill {
					&:nth-child(3) {}
					&:nth-child(4) {}
					&:nth-child(4),
					&:nth-child(5) {}
					&:nth-child(5) {}
					&.toggled {
						&.text-toggled {
							.skill-icon {
								&:after {}
							}
							//.skill-icon
						}
						//.text-toggled
					}
					//.toggled
					&.text-toggled {
						.skill-icon {
							&:after {}
						}
						.skill-text {}
					}
					//.text-toggled
					.skill-icon {
						img {}
					}
					.skill-text {
						p {}
					}
				}
				//.skill
			}
			//.skills-list
		}
		//.skills-list-wrap
	}
	//.home-skills


	/***********************************/
	// END OF HOMEPAGE STYLES
	
	// INTERIOR STYLES
	/***********************************/
	
	.content-area {
		.type-page {
			.entry-header {
				.entry-info {
					.entry-icon {
						img {}
					}
					.entry-tagline {
						.entry-title {
							font-size:38px;
						}
					}
				}
				//.entry-info
				.entry-image {
					padding-bottom:55%;
					img {
						height:auto;
						width:100%;
					}
				}
				//.entry-image
			}
			//.entry-header
			.entry-content {
				padding:40px 50px;
				.about & {
					-webkit-column-count:2; 
					-moz-column-count:2; 
					-o-column-count:2; 
					column-count:2; 
					-webkit-column-gap: 45px;
					-moz-column-gap: 45px;
					-o-column-gap: 45px;
					column-gap: 45px;
					text-align:left;
				}
			}
			//.entry-content

			.add-skills {
				.add-skills-header {
					.add-skills-title {
						font-size:38px;
						margin-bottom:15px;
					}
					.add-skills-text {
						font-size:18px;
					}
				}
				//.add-skills-header
				.add-skills-content {
					.skills {
						.skill {
							.skill-icon {
								img {}
							}
							//.skill-icon
							&:last-child {}
						}
						//.skill
					}
					//.skills
				}
				//.add-skills-content
				.add-skills-header, .add-skills-content {
					max-width:60%;
				}
			}
			//.add-skills
		}
		//.type-page
	}
	//.content-area

	/***********************************/
	// END OF INTERIOR STYLES
}
// .site-content
.site-footer {
	.site-info {}
	span {}
	img {}
	a {
		&:visited, &:hover, &:active {}
	}
}