/* CTA SECTIONS
********************************/

.cta {
	.wrapper {
		padding:40px 50px !important;
	}
	.cta-content {
		.cta-title {}
		.cta-text {}
	}
}
//.cta

/* MOBILE NAVIGATION
********************************/
.mobile-navigation {}
//.mobile-navigation

.wrapper {}

.site-header {
	.wrapper {}
	.site-branding {
		.site-title, .site-description {
			img {}
		}
		.site-description {}
	}
	//.site-branding
	.main-navigation {}
	.toggles {
		.menu-toggle, .hire-me {}
		.menu-toggle {}
		.hire-me {}
	}
	//.toggles
	.social {
		a {
			&.dribbble {}
			&.twitter {}
			&.linkedin {}
		}
	}
}
//.site-header
.site-content {
	.wrapper {}

	// HOMEPAGE STYLES
	/********************************/
	.main-banner {
		.slide_link {}
		.main-title {
			span {}
		}
		.main-text {}
	}
	//.main-banner
	.home-skills {
		.skills-header {
			.skills-title {}
		}
		//.skills-header
		.skills-list-wrap {
			.wrapper {}
			.skills-icons {
				.skill-icon {
					&:nth-child(3) {}
					&:nth-child(4) {}
					&:nth-child(4),
					&:nth-child(5) {}
					img {}
					&.toggled {
						&.triangle-toggled {
							&:after {}
						}
						//.text-toggled
					}
					//.toggled
					&.triangle-toggled {
						&:after {}
					}
					//.triangle-toggled
					.skill-icon {
						img {}
					}
				}
				//.skill
			}
			//.skills-icons
			.skills-text {
				.skill-text {
					font-size:24px;
					pointer-events:auto;
					&.text-toggled {}
				}
			}
			//.skills-text
		}
		//.skills-list-wrap
	}
	//.home-skills


	/***********************************/
	// END OF HOMEPAGE STYLES
	
	// INTERIOR STYLES
	/***********************************/
	
	.content-area {
		.entry-header {
			.entry-info {
				.entry-icon {
					img {}
				}
				.entry-tagline {
					.entry-title {
						font-size:38px;
					}
				}
			}
			//.entry-info
			.entry-image {
				padding-bottom:55%;
				img {
					height:auto;
					width:100%;
				}
			}
			//.entry-image
		}
		//.entry-header
		.type-page {
			.entry-content {
				padding:40px 50px;
				.about & {
					-webkit-column-count:2; 
					-moz-column-count:2; 
					-o-column-count:2; 
					column-count:2; 
					-webkit-column-gap: 45px;
					-moz-column-gap: 45px;
					-o-column-gap: 45px;
					column-gap: 45px;
					text-align:left;
				}
			}
			//.entry-content

			.add-skills {
				.add-skills-header {
					.add-skills-title {
						font-size:38px;
						margin-bottom:15px;
					}
					.add-skills-text {
						font-size:18px;
					}
				}
				//.add-skills-header
				.add-skills-content {
					.skills {
						.skill {
							.skill-icon {
								img {}
							}
							//.skill-icon
							&:last-child {}
						}
						//.skill
					}
					//.skills
				}
				//.add-skills-content
				.add-skills-header, .add-skills-content {
					max-width:60%;
				}
			}
			//.add-skills
		}
		//.type-page
		.type-jtw_work {
			.entry-header {
				.entry-info {
					.client-logo {
						width:28%;
						img {}
					}
					//.client-logo
					.entry-title {}
					.entry-desc {}
				}
				//.entry-info
			}
			//.entry-header
			.entry-content {
				.detail {
					.wrapper {}
					.detail-header {
						.detail-title {}
					}
					//.detail-header
					.detail-content {
						.detail-image {
							.container {
								img {}	
							}
							&.is-website {
								.container {}
							}
						}
						//.detail-image
					}
					//.detail-content
					&:nth-of-type(2n) {}
				}
				//.detail
			}
			//.entry-content
		}
		//.type-jtw_work
		.work-archive {
			.entry-content {
				overflow:hidden;
				width:101%;
				.project {
					width:33.3333%;
					.project-image {
						img {}
					}
					//.project-image
					.project-content {
						.project-title {}
						.project-tags {
							.tag {
								&:first-child {}
							}
						}
						//.project-tags
					}
					//.project-content
				}
				//.project
			}
			//.entry-content
		}
		//.work-archive
		.blog-archive {
			@include clearfix;
			border-bottom:4px solid $ylw;
			.entry-content {
				padding:0;
				float:left;
				width:75%;
				.post {
					.wrapper {}
					.meta {
						right:88%;
						.posted-on {
							span {
								&.posted {}
								&.month {}
								&.day {}
							}
						}
						//.posted-on
					}
					//.meta
					.post-content {
						width:88%;
						.post-title {}
						.post-tags {
							.tag {}
						}
					}
					//.post-content
					&:nth-child(2n) {
						.meta {}
					}
					&:hover {
						.meta {}
					}
				}
				//.post
			}
			//.entry-content
			.sidebar {
				background:$drkrgry;
				float:right;
				padding:0;
				width:25%;
				.widget {
					.widget-title {
						background:none;
					}
					ul {
						border-bottom:none;
						margin:0;
						li {
							a {}
							&:nth-child(even) {}
							&:hover {
								a {}
							}
						}
					}
				}
				//.widget
			}
			//.sidebar
		}
		//.blog-archive
		&.single-post {
			.entry-header {
				.entry-info {
					.entry-icon {}
				}
				//.entry-info
				.entry-image {}
			}
			//.entry-header
			.entry-content {
				padding:40px 50px;
				float:left;
				text-align:left;
				width:75%;
				img {}
			}
			//.entry-content
			.sidebar {
				background:$drkrgry;
				display:block;
				float:right;
				padding:0;
				width:25%;
				.widget {
					.widget-title {
						background:$drkgry;
						border-bottom:4px solid $ylw;
						color:$wht;
						font-size:16px;
						margin:0;
						padding:15px 20px;
					}
					ul {
						border-bottom:none;
						margin:0;
						li {
							background:$ltrgry;
							border-left:2px solid darken($ltrgry,4%);
							a {
								@include transition(padding .25s ease-in-out);
								color:$drkgry;
								display:block;
								padding:10px 20px;
							}
							&:nth-child(even) {
								background:darken($ltrgry,4%);
							}
							&:hover {
								a {
									padding-left:25px;
								}
							}
						}
					}
				}
				//.widget
			}
			//.sidebar
		}
		//.single-post
		.type-post {
			@include clearfix;
		}
	}
	//.content-area

	/***********************************/
	// END OF INTERIOR STYLES
}
// .site-content
.site-footer {
	.site-info {}
	span {}
	img {}
	a {
		&:visited, &:hover, &:active {}
	}
}