/* CTA SECTIONS
********************************/

.cta {
	.wrapper {
		@include clearfix;
		background:darken($drkgry,3%);
		padding:7% 10% !important;
	}
	.cta-content {
		float:left;
		text-align:left;
		width:65%;
		.cta-title {
			font-size:32px;
		}
		.cta-text {}
	}
	.btn {
		float:right;
		margin-top:46px;
	}
}
.home {
	.cta {
		display:none;
	}
}
//.cta

/* MOBILE NAVIGATION
********************************/
.mobile-navigation {
	display:none;
}
//.mobile-navigation

.wrapper {}

.site-header {
	background:$drkgry;
	bottom:0;
	left:0;
	margin:0;
	right:auto;
	top:0;
	width:24%;
	.wrapper {
		background:none;
	}
	.site-branding {
		padding-bottom:40px;
		.site-title, .site-description {
			img {}
		}
		.site-title {
			margin-top:15px;
		}
		.site-description {
			display:block;
			img {
				margin:8px auto 0;
			}
		}
	}
	//.site-branding
	.main-navigation {
		display:block;
		.menu-main-navigation-container {
			.menu {
				margin:0;
				padding:0;
				.menu-item {
					@include transition(background .25s ease-in-out, background-color .25s ease-in-out);
					background:$drkrgry;
					text-align:right;
					a {
						@include transition(padding-right .25s ease-in-out);
						@include font($wht,$font,24px);
						display:block;
						padding:26px 80px 24px 15px;
						text-transform:lowercase;
					}
					&:hover {
						a {
							padding-right:90px;
						}
					}

					// link variables
					$xpos: calc(100% + 26px);
					$ypos: 16px;
					$bgsize: 90px;
					&.about {
						background:$pnk url(../img/icon_about.svg) $xpos $ypos no-repeat;
						background-size:$bgsize;
						a {
							text-shadow:0 1px 0 darken(desaturate($pnk,15%),15%);
						}
						&:hover {
							$color:darken(desaturate($pnk,20%),4%);
							background-color:$color;
						}
					}
					&.work {
						background:$grn url(../img/icon_work.svg) $xpos $ypos no-repeat;
						background-size:$bgsize;
						a {
							text-shadow:0 1px 0 darken($grn,10%);
						}
						&:hover {
							$color:darken($grn,3%);
							background-color:$color;
							text-shadow:0 1px 0 $color;
						}
					}
					&.blog {
						background:$ylw url(../img/icon_blog.svg) $xpos $ypos no-repeat;
						background-size:$bgsize;
						a {
							text-shadow:0 1px 0 darken(desaturate($ylw,15%),20%);
						}
						&:hover {
							$color:darken(desaturate($ylw,10%),4%);
							background-color:$color;
							text-shadow:0 1px 0 $color;
						}
					}
					&.contact {
						background:$blu url(../img/icon_contact.svg) $xpos $ypos no-repeat;
						background-size:$bgsize;
						a {
							text-shadow:0 1px 0 darken($blu,10%);
						}
						&:hover {
							background-color:darken(desaturate($blu,10%),4%);
							text-shadow:0 1px 0 ;
						}
					}
				}
				//.page_item
			}
			//.menu
		}
		//.menu-main-navigation-container
	}
	//.main-navigation
	.toggles {
		display:none;
		.menu-toggle, .hire-me {}
		.menu-toggle {}
		.hire-me {}
	}
	//.toggles
	.social {
		@include opacity(100);
		background:none;
		height:auto;
		padding-top:25px;
		pointer-events:auto;
		position:static;
		a {
			display:inline-block;
			position:static;
			&.dribbble {}
			&.twitter {
				background-size:62%;
				height:50px;
				width:50px;
			}
			&.linkedin {}
			&.dribbble, &.twitter, &.linkedin {
				bottom:auto;
				margin:0;
				left:auto;
				right:auto;
				top:auto;
			}
		}
	}
}
//.site-header
.site-content {
	background:url(../img/bg_desktop.png) -200px top no-repeat;
	float:right;
	width:76%;
	.wrapper {
		padding:0 8%;
	}

	// HOMEPAGE STYLES
	/***********************************/

	.main-banner {
		.wrapper {}
		.slide_link {}
		.main-title {
			font-size:66px;
			span {
				font-size:33px;
			}
		}
		.main-text {
			font-family:$lt-font;
			font-size:26px;
			line-height:1.5em;
			margin:0 auto;
			max-width:610px;
		}
	}
	//.main-banner
	.home-skills {
		.skills-header {
			.skills-title {
				font-size:232px;
			}
		}
		//.skills-header
		.skills-list-wrap {
			margin-top:-90px;
			.wrapper {
				padding: 0 9% 4%;
			}
			.skills-icons {
				.skill-icon {
					&:nth-child(3) {}
					&:nth-child(4) {}
					&:nth-child(4),
					&:nth-child(5) {}
					img {}
					&.toggled {
						&.triangle-toggled {
							&:after {
								display:none;
							}
						}
						//.text-toggled
					}
					//.toggled
					&.triangle-toggled {
						&:after {
							display:none;
						}
					}
					//.triangle-toggled
					.skill-icon {
						img {}
					}
				}
				//.skill
			}
			//.skills-icons
			.skills-text {
				.skill-text {
					font-size:24px;
					pointer-events:auto;
					&.text-toggled {}
				}
			}
			//.skills-text
		}
		//.skills-list-wrap
	}
	//.home-skills


	/***********************************/
	// END OF HOMEPAGE STYLES
	
	// INTERIOR STYLES
	/***********************************/
	
	.content-area {
		.type-page {
			.entry-header {
				.entry-info {
					top:12%;
					.entry-icon {
						margin-bottom:25px;
						width:140px;
						img {}
					}
					.entry-tagline {
						.entry-title {}
					}
				}
				//.entry-info
				.entry-image {
					padding-bottom:48%;
					img {}
				}
				//.entry-image
			}
			//.entry-header
			.entry-content {
				padding:7% 10%;
			}
			//.entry-content

			.add-skills {
				.add-skills-header {
					.add-skills-title {}
				}
				//.add-skills-header
				.add-skills-content {
					.skills {
						.skill {
							.skill-icon {
								img {}
							}
							//.skill-icon
							&:last-child {}
						}
						//.skill
					}
					//.skills
				}
				//.add-skills-content
			}
			//.add-skills
		}
		//.type-page
	}
	//.content-area

	/***********************************/
	// END OF INTERIOR STYLES
}
// .site-content
.site-footer {
	clear:both;
	float:right;
	width:76%;
	.site-info {}
	span {
		font-size:14px;
	}
	img {}
	a {
		font-size:14px;
		&:visited, &:hover, &:active {}
	}
}

.site-content {
	.home & {
		padding-top:100px;
	}
}