/* CTA SECTIONS
********************************/

.cta {
	.wrapper {
		@include clearfix;
		background:darken($drkgry,3%);
		padding:7% 10% !important;
	}
	.cta-content {
		float:left;
		text-align:left;
		width:65%;
		.cta-title {
			font-size:32px;
		}
		.cta-text {}
	}
	.btn {
		float:right;
		margin-top:46px;
	}
}
.home {
	.cta {
		display:none;
	}
}
//.cta

/* BUTTONS & FORMS
********************************/

.gform_wrapper {
	.gf_progressbar_wrapper {
		.gf_progressbar_title {}
		.gf_progressbar {
			.gf_progressbar_percentage {
				&.percentbar_0 {
					span {}
				}
				&.percentbar_50 {}
			}
		}
		//.gf_progressbar
	}
	//.gf_progressbar_wrapper
	.gform_confirmation_wrapper {
		background:url(../img/check.svg) top center no-repeat;
		background-size:60%;
		padding-bottom:60%;
		margin-top:-50px;
	}
	.validation_error {}
	//.validation_error
	.gform_body {
		input {}
		.gform_page {
			.gform_page_fields {
				.gform_fields {
					@include clearfix;
					.gfield {
						&.gsection {
							.gsection_title {}
						}
						//.gsection
						&.full {}
						&.half {
							float:left;
							width:49%;
							&.right {
								float:right;
							}
						}
						.gfield_label {
							.gfield_required {}
						}
						.ginput_container {
							& > input, textarea {
								font-size:18px;
								padding:15px 20px 18px;
							}
							textarea {}
							.gfield_radio {
								li {}
								input {}
								label {}
								input:checked + label {}
							}
							//.gfield_radio
							.ginput_counter {}
						}
						//.ginput_container
						.gfield_description {
							&.validation_message {}
						}
						&.gfield_error {
							.ginput_container {
								input[type=text],textarea {}
							}
						}
						//.gfield_error
					}
					//.gfield
					.gform_validation_container {}
					//.gform_validation_container
				}
				//.gform_fields
			}
			//.gform_page_fields
			.gform_page_footer {
				input[type=button] {
					&.gform_previous_button {}
					&.gform_next_button {}
				}
				input[type=submit] {}
			}
			//.gform_page_footer
		}
		//.gform_page
	}
	//.gform_body
}
//.gform_wrapper



/* MOBILE NAVIGATION
********************************/
.mobile-navigation {
	display:none;
}
//.mobile-navigation

.wrapper {}

.site-header {
	@include box-shadow(0, 0, 50px, rgba(0,0,0,.45));
	background:$drkgry;
	bottom:0;
	left:0;
	margin:0;
	right:auto;
	top:0;
	width:24%;
	.wrapper {
		background:none;
	}
	.site-branding {
		padding-bottom:40px;
		.site-title, .site-description {
			img {}
		}
		.site-title {
			margin-top:15px;
		}
		.site-description {
			display:block;
			img {
				margin:8px auto 0;
			}
		}
	}
	//.site-branding
	.main-navigation {
		display:block;
		.menu-main-navigation-container {
			.menu {
				margin:0;
				padding:0;
				.menu-item {
					@include transition(background .25s ease-in-out, background-color .25s ease-in-out);
					background:$drkrgry;
					text-align:right;
					a {
						@include transition(padding-right .25s ease-in-out);
						@include font($wht,$font,24px);
						display:block;
						padding:26px 80px 24px 15px;
						text-transform:lowercase;
					}
					&:hover {
						a {
							padding-right:90px;
						}
					}

					// link variables
					$xpos: calc(100% + 26px);
					$ypos: 16px;
					$bgsize: 90px;
					&.about {
						background:$pnk url(../img/icon_about.svg) $xpos $ypos no-repeat;
						background-size:$bgsize;
						a {
							text-shadow:0 1px 0 darken(desaturate($pnk,15%),15%);
						}
						&:hover {
							$color:darken(desaturate($pnk,20%),4%);
							background-color:$color;
						}
					}
					&.work {
						background:$grn url(../img/icon_work.svg) $xpos $ypos no-repeat;
						background-size:$bgsize;
						a {
							text-shadow:0 1px 0 darken($grn,10%);
						}
						&:hover {
							$color:darken($grn,3%);
							background-color:$color;
							text-shadow:0 1px 0 $color;
						}
					}
					&.blog {
						background:$ylw url(../img/icon_blog.svg) $xpos $ypos no-repeat;
						background-size:$bgsize;
						a {
							text-shadow:0 1px 0 darken(desaturate($ylw,15%),20%);
						}
						&:hover {
							$color:darken(desaturate($ylw,10%),4%);
							background-color:$color;
							text-shadow:0 1px 0 $color;
						}
					}
					&.contact {
						background:$blu url(../img/icon_contact.svg) $xpos $ypos no-repeat;
						background-size:$bgsize;
						a {
							text-shadow:0 1px 0 darken($blu,10%);
						}
						&:hover {
							background-color:darken(desaturate($blu,10%),4%);
							text-shadow:0 1px 0 ;
						}
					}
				}
				//.page_item
			}
			//.menu
		}
		//.menu-main-navigation-container
	}
	//.main-navigation
	.toggles {
		display:none;
		.menu-toggle, .hire-me {}
		.menu-toggle {}
		.hire-me {}
	}
	//.toggles
	.social {
		@include opacity(100);
		background:none;
		height:auto;
		padding-top:25px;
		pointer-events:auto;
		position:static;
		a {
			display:inline-block;
			position:static;
			&.dribbble {}
			&.twitter {
				background-size:62%;
				height:50px;
				width:50px;
			}
			&.linkedin {}
			&.dribbble, &.twitter, &.linkedin {
				bottom:auto;
				margin:0;
				left:auto;
				right:auto;
				top:auto;
			}
		}
	}
}
//.site-header
.site-content {
	background:url(../img/bg_desktop.png) -200px top no-repeat;
	float:right;
	width:76.1%;
	.wrapper {
		padding:0 8%;
	}

	// HOMEPAGE STYLES
	/***********************************/

	.main-banner {
		.wrapper {}
		.slide_link {}
		.main-title {
			font-size:66px;
			span {
				font-size:33px;
			}
		}
		.main-text {
			font-family:$lt-font;
			font-size:26px;
			line-height:1.5em;
			margin:0 auto;
			max-width:620px;
		}
	}
	//.main-banner
	.home-skills {
		.skills-header {
			.skills-title {
				font-size:232px;
			}
		}
		//.skills-header
		.skills-list-wrap {
			margin-top:-90px;
			.wrapper {
				padding: 0 9% 4%;
			}
			.skills-icons {
				.skill-icon {
					&:nth-child(3) {}
					&:nth-child(4) {}
					&:nth-child(4),
					&:nth-child(5) {}
					img {}
					&.toggled {
						&.triangle-toggled {
							&:after {
								display:none;
							}
						}
						//.text-toggled
					}
					//.toggled
					&.triangle-toggled {
						&:after {
							display:none;
						}
					}
					//.triangle-toggled
					.skill-icon {
						img {}
					}
				}
				//.skill
			}
			//.skills-icons
			.skills-text {
				.skill-text {
					font-size:24px;
					pointer-events:auto;
					&.text-toggled {}
				}
			}
			//.skills-text
		}
		//.skills-list-wrap
	}
	//.home-skills

	.section-bottom {
		@include clearfix;
		.featured-work {
			background:$drkrgry;
			float: left;
			width:50%;
			.featured-work-header {
				@include clearfix;
				padding:30px 50px;
				.featured-work-title {
					@include font($wht,$md-font,26px);
					float:left;
					margin:0;
				}
				.featured-work-link {
					display:block;
					float:right;
					font-size:17px;
					margin-top:-2px;
					padding:8px 10px 4px;
				}
			}
			//.featured-work-header
			.featured-work-projects {
				position:relative;
				.project {
					position:relative;
					width:100%;
					.project-info {
						background:url(../img/gray_rpt.png) repeat;
						padding:25px 30px;
						position:absolute;
						top:100px;
						width:100%;
						z-index:10;
						.project-name {
							@include font($wht,$font,18px);
							text-align:center;
						}
						.project-tags {
							margin:0;
							padding:0 20px;
							text-align:center;
							.tag {
								@include font($grn,$font,10px);
								background:url(../img/tag.svg) 0 1px no-repeat;
								background-size:10px;
								display:inline-block;
								margin:0 0 0 5px;
								padding-left:13px;
								&:first-child {
									margin:0;
								}
							}
						}
						//.project-tags
					}
					//.project-info
					.project-image {
						height:0;
						overflow:hidden;
						padding-bottom:320px;
						position:relative;
						img {
							@include blur(3px);
							@include transform(translate(-50%,-50%) rotate(-10deg));
							height:auto;
							left:50%;
							position:absolute;
							top:50%;
							width:120%;
						}
					}
					//.project-image
				}
				//.project
				#prev {
					background:url(../img/pager_controls.png) top left no-repeat;
					display:block;
					height:22px;
					left:20px;
					position:absolute;
					top:133px;
					width:22px;
					z-index:102;
				}
				#next {
					background:url(../img/pager_controls.png) top right no-repeat;
					display:block;
					height:22px;
					position:absolute;
					right:20px;
					top:133px;
					width:22px;
					z-index:102;
				}
				.pager {
					background:url(../img/trans-ltgray.png) repeat;
					bottom:0;
					padding:7px;
					position:absolute;
					text-align:center;
					width:100%;
					z-index:101;
					span {
						@include hide-text;
						background:url(../img/pager_buttons.png) no-repeat;
						background-position:top right;
						cursor:pointer;
						display:inline-block;
						height:14px;
						margin:0 2px;
						width:14px;
						&.cycle-pager-active {
							background-position:top left;
						}
					}
				}
				//.pager
			}
			//.featured-work-projects
		}
		//.featured-work
		.featured-articles {
			background:$drkgry;
			float:right;
			width:50%;
			.featured-articles-header {
				@include clearfix;
				padding:30px 50px;
				.featured-articles-title {
					@include font($wht,$md-font,26px);
					float:left;
					margin:0;
				}
				.featured-articles-link {
					display:block;
					float:right;
					font-size:17px;
					margin-top:-2px;
					padding:8px 10px 4px;
				}
			}
			//.featured-articles-header
			.featured-article-list {
				.article {
					@include clearfix;
					@include transition(background .25s ease-in-out);
					background:$drkgry;
					padding:20px 30px 20px 50px;
					position:relative;
					.article-date {
						color:lighten($drkgry,30%);
						float:left;
						font-size:12px;
						padding-right:30px;
						padding-top:5px;
						vertical-align:middle;
					}
					.article-title {
						color:lighten($drkgry,65%);
						float:left;
						font-size:16px;
						overflow:hidden;
						text-overflow:ellipsis;
						text-transform:none;
						white-space:nowrap;
						width:78%;
					}
					&:nth-of-type(odd) {
						background:lighten($drkgry,3%);
					}
					&:hover {
						background:lighten($drkgry,5%);
					}
				}
				//.article
			}
			//.featured-article-list
		}
		//.featured-articles
	}
	//.section-bottom


	/***********************************/
	// END OF HOMEPAGE STYLES
	
	// INTERIOR STYLES
	/***********************************/
	
	.content-area {
		.entry-header {
			.entry-info {
				top:12%;
				.entry-icon {
					margin-bottom:25px;
					width:140px;
					img {}
				}
				.entry-tagline {
					.entry-title {
						font-size:32px;
					}
				}
			}
			//.entry-info
			.entry-image {
				padding-bottom:350px;
				img {}
			}
			//.entry-image
		}
		//.entry-header
		.type-page {
			.entry-content {
				padding:7% 10%;
			}
			//.entry-content

			.add-skills {
				.add-skills-header {
					.add-skills-title {}
				}
				//.add-skills-header
				.add-skills-content {
					.skills {
						.skill {
							.skill-icon {
								img {}
							}
							//.skill-icon
							&:last-child {}
						}
						//.skill
					}
					//.skills
				}
				//.add-skills-content
			}
			//.add-skills
		}
		//.type-page
		.type-jtw_work {
			.entry-header {
				padding:84px 0px 60px;
				.entry-info {
					.client-logo {
						margin-bottom:40px;
						img {}
					}
					//.client-logo
					.entry-title {}
					.entry-desc {
						margin:0 auto;
					}
				}
				//.entry-info
			}
			//.entry-header
			.entry-content {
				.detail {
					.wrapper {
						padding:50px 10% 80px;
					}
					.detail-header {
						.detail-title {
							font-size:32px;
						}
					}
					//.detail-header
					.detail-content {
						.detail-image {
							.container {
								img {}	
							}
							&.is-website {
								@include box-shadow(0,10px,60px,rgba(0,0,0,.25));
								.container {}
							}
						}
						//.detail-image
					}
					//.detail-content
					&:nth-of-type(2n) {}
				}
				//.detail
			}
			//.entry-content
		}
		//.type-jtw_work
		.work-archive {
			.entry-content {
				.project {
					overflow:hidden;
					.project-image {
						img {
							@include transition(all .5s ease-in-out);
						}
					}
					//.project-image
					.project-content {
						@include transition(all .25s ease-in-out);
						top:42%;
						.project-title {
							font-size:22px;
						}
						.project-tags {
							.tag {
								font-size:12px;
								&:first-child {}
							}
						}
						//.project-tags
					}
					//.project-content
					.hover {
						$dim:76px;
						@include transition(all .25s ease-in-out);
						background:url(../img/proj_overlay.svg) no-repeat;
						background-size:100%;
						height:$dim;
						left:50%;
						margin-left:-$dim/2;
						margin-top:-$dim/2;
						position:absolute;
						top:120%;
						width:$dim;
					}
					&:hover {
						.project-image {
							img {
								@include blur(0);
								@include transition(all .5s ease-in-out);
								@include transform(translate(-50%,-50%) rotate(0) scale(1.2));
								@include opacity(100);
							}
						}
						//:hover .project-image
						.project-content {
							@include transition(all .25s ease-in-out);
							top:-100%;
						}
						//:hover .project-content
						.hover {
							@include transition(all .25s ease-in-out);
							top:50%;
						}
					}
					//:hover
				}
				//.project
			}
			//.entry-content
		}
		//.work-archive
		.blog-archive {
			.entry-content {
				padding:0;
				.post {
					.wrapper {}
					.meta {
						.posted-on {
							span {
								&.posted {}
								&.month {}
								&.day {}
							}
						}
						//.posted-on
					}
					//.meta
					.post-content {
						.post-title {}
						.post-tags {
							.tag {}
						}
					}
					//.post-content
					&:nth-child(2n) {
						.meta {}
					}
					&:hover {
						.meta {}
					}
				}
				//.post
			}
			//.entry-content
			.sidebar {
				.widget {
					.widget-title {}
					ul {
						li {
							a {}
							&:nth-child(even) {}
							&:hover {
								a {}
							}
						}
					}
				}
				//.widget
			}
			//.sidebar
		}
		//.blog-archive	
		&.single-post {
			.entry-header {
				.entry-info {
					top:12%;
					.entry-icon {
						width:140px;
					}
				}
				//.entry-info
				.entry-image {
					padding-bottom:350px;
					img {}
				}
				//.entry-image
			}
			//.entry-header
			.entry-content {
				padding:7% 10%;
			}
		}
		//.single-post
		.comments {
			h3 {
				&#comments {}
			}
			.commentlist {
				.comment {
					a {}
					.comment-body {
						.comment-meta {
							.comment-author {
								img {}
							}
							//.comment-author
							.comment-metadata {
								a {}
							}
							//.comment-metadata
							.comment-awaiting-moderation {}
						}
						//.comment-meta
						.comment-content {
							p {}
						}
						//.comment-content
						.comment-reply-link {}
					}
					//.comment-body
					#respond {
						h3 {}
					}
					//#respond
					.children {
						.comment {}
					}
					//.children
				}
				//.comment
			}
			//.commentlist
			#respond {
				#cancel-comment-reply-link {}
				p {}
				form {
					@include clearfix;
					p {
						&:first-of-type {
							float:left;
							width:48%;
						}
						&:nth-child(2) {
							float:right;
							width:48%;
						}
					}
				}
				label {}
				input[type=text],textarea {}
				textarea {}
				input[type=submit] {}
			}
			//#respond
		}
		//.comments
	}
	//.content-area

	/***********************************/
	// END OF INTERIOR STYLES
}
// .site-content
.site-footer {
	clear:both;
	float:right;
	width:76%;
	.site-info {}
	span {
		font-size:14px;
	}
	img {}
	a {
		font-size:14px;
		&:visited, &:hover, &:active {}
	}
}

.site-content {
	.home & {
		padding-top:100px;
	}
}