* {
	@include box-sizing(border-box);
	margin:0;
	padding:0;
}

body,html {}

body {
	@include font($drkgry,$font,14px);
	background:$ltrgry;
	line-height:1em;
	&.toggled {
		overflow:hidden;
		.site-header {
			.toggles {
				.menu-toggle {
					background:url(../img/menu_toggle-close.svg) center center no-repeat;
				}
			}
			//.toggles
			.social {
				@include transition(opacity .25s .5s ease-in-out);
				$opacity:100;
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity="$opacity")";
				filter: alpha(opacity=$opacity);
				opacity: $opacity/100;
				pointer-events:auto;
			}
		}
		.site-content {
			opacity:0;
		}
		.site-footer {
			opacity:0;
		}
	}
}

/* TYPOGRAPHY
********************************/

.site-content {
	h1,h2,h3,h4,h5,h6 {
		line-height:.75em;
		margin:0 0 .25em;
		text-transform:uppercase;
	}
}

h1, {
	@include font($drkgry,$md-font,42px);
}
h2, {
	@include font($drkgry,$md-font,38px);
}
h3, {
	@include font($drkgry,$md-font,32px);
}
h4, {
	@include font($drkgry,$md-font,24px);
}
h5, {
	@include font($drkgry,$md-font,18px);
}
h6, {
	@include font($drkgry,$md-font,16px);
}

p {
	@include font($drkgry,$font,14px);
	line-height:1.5em;
	margin:.5em 0;
	// Bolding and Italicizing inside P tags
	b, strong {
		font-family:$bld-font;
		font-weight:normal;
		font-style:normal;
		& em, & i {
			font-family:$bld-font-it;
			font-style:normal;
		}
	}
	i, em {
		font-family:$font-it;
		font-style:normal;
		& b, & strong {
			font-family:$bld-font-it;
			font-weight:normal;
			font-style:normal;
		}
	}
}
// Bolding and Italicizing outside of P tags
b, strong {
	font-family:$bld-font;
	font-weight:normal;
	font-style:normal;
	& em, & i {
		font-family:$bld-font-it;
		font-style:normal;
	}
}
i, em {
	font-family:$font-it;
	font-style:normal;
	& b, & strong {
		font-family:$bld-font-it;
		font-weight:normal;
		font-style:normal;
	}
}

a {
	text-decoration:none;
	&:visited,
	&:hover,
	&:active {
		text-decoration:none;
	}
}

/* BUTTONS & FORMS
********************************/

.btn {
  @include button($grn,15px 17px 13px,20px);
}

/* CTA SECTIONS
********************************/

.cta {
	background:$drkgry;
	text-align:center;
	.wrapper {
		padding:40px 30px !important;
	}
	.cta-title {
		@include font($ltgry,$bld-font,24px);
		margin-bottom:.5em;
	}
	.cta-text {
		@include font($wht,$font,12px);
		margin-bottom:20px;
	}
}
//.cta

/* MOBILE NAVIGATION
********************************/
.mobile-navigation {
	background:$drkgry;
	height:0;
	overflow:hidden;
	position:relative;
	.menu-main-navigation-container {
		@include transition(top .85s);
		left:0;
		padding:35px 30px 0;
		position:absolute;
		right:0;
		top:-480px;
		.menu {
			@include clearfix;
			margin:0;
			padding:0;
			.menu-item {
				float:left;
				margin:0 7% 30px 0;
				width:46.5%;
				a {
					@include border-radius(10px);
					@include font($wht,$md-font,18px);
					background:$drkrgry;
					display:block;
					min-height:100px;
					padding-top:70px;
					position:relative;
					text-align:center;
					text-transform:lowercase;
					$width:69px;
					&:before {
						content:"";
						display:block;
						height:75px;
						left:50%;
						margin-left:-$width/2;
						position:absolute;
						top:-18px;
						width:$width;
					}
				}
				//a
				&.about {
					a {
						&:before {
							background:url(../img/mobile_icon_about.svg) no-repeat;
							background-size:100%;
						}
					}
				}
				//.about
				&.work {
					a {
						&:before {
							background:url(../img/mobile_icon_work.svg) no-repeat;
							background-size:100%;
						}
					}
				}
				//.work
				&.blog {
					a {
						&:before {
							background:url(../img/mobile_icon_blog.svg) no-repeat;
							background-size:100%;
						}
					}
				}
				//.blog
				&.contact {
					a {
						&:before {
							background:url(../img/mobile_icon_contact.svg) no-repeat;
							background-size:100%;
						}
					}
				}
				//.contact
				&:nth-child(2n) {
					margin-right:0;
				}
			}
			//.menu-item
		}
		//.menu
	}
	//.menu-main-navigation-container
	&.toggled {
		.menu-main-navigation-container {
			top:0;
		}
	}
}
//.mobile-navigation

/* HEADER
********************************/

.wrapper {
	@include clearfix;
}

.site-header {
	position:fixed;
	text-align:center;
	top:0;
	width:100%;
	z-index:1000;
	.wrapper {
		background:url(../img/mobile_header_bg.png) bottom center no-repeat;
		min-height:104px;
		position:relative;
		z-index:initial;
	}
	.site-branding {
		padding-top:12px;
		.site-title, .site-description {
			display:inline-block;
			img {
				display:block;
			}
		}
		.site-description {
			display:none;
		}
	}
	//.site-branding
	.main-navigation {
		display:none;
	}
	.toggles {
		position:relative;
		.menu-toggle, .hire-me {
			height:18px;
			position:absolute;
			width:18px;
			top:-20px;
		}
		.menu-toggle {
			background:url(../img/menu_toggle.svg) center center no-repeat;
			left:50%;
			margin-left:-109px;
		}
		.hire-me {
			background:url(../img/hire_button.svg) center center no-repeat;
			right:50%;
			margin-right:-110px;
			top:-21px;
		}
	}
	//.toggles
	.social {
		@include transition(opacity .15s 0 ease-in-out);
		background: url(../img/mobile_bg.png) center center no-repeat;
		height: 101px;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		pointer-events:none;
		position: absolute;
		width: 100%;
		top: 64px;
		z-index: -1;
		a {
			@include hide-text;
			height:20px;
			position:absolute;
			width:20px;
			z-index:11;
			&.dribbble {
				background:url(../img/social_dribbble.svg) center center no-repeat;
				background-size:45%;
				height:50px;
				left:50%;
				margin-left:-23.5%;
				top:16px;
				width:50px;
			}
			&.twitter {
				background:url(../img/social_twitter.svg) center center no-repeat;
				background-size:100%;
				height:30px;
				left:50%;
				margin-left:-15px;
				top:51px;
				width:30px;
			}
			&.linkedin {
				background:url(../img/social_linkedin.svg) center center no-repeat;
				background-size:45%;
				height:50px;
				right:50%;
				margin-right:-23.5%;
				top:16px;
				width:50px;
			}

		}
	}
}
//.site-header
.site-content {
	.wrapper {
		padding:0 30px;
	}
	.main-banner {
		text-align:center;
		&:after {
			background:url(../img/circle_arrow_divide.svg) center center no-repeat;
			content:"";
			display:block;
			height:22px;
			margin:25px auto 0;
			width:22px;
		}
		.main-title {
			@include font($drkgry,$bld-font,42px);
			-webkit-transition-delay: .5s;
    		transition-delay: .5s;
			text-transform:uppercase;
			span {
				@include font($drkgry,$md-font,20px);
				display:block;
			}
		}
	}
	//.main-banner
	.home-skills {
		padding-top:40px;
		.skills-header {
			.skills-title {
				@include font($ltgry,$bldr-font,112px);
				text-align:center;
				text-transform:lowercase;
			}
		}
		//.skills-header
		.skills-list-wrap {
			background:$ltgry;
			margin-top: -42px;
			.wrapper {
				margin-top:-20px;
				padding-bottom:20px;
			}
			.skills-list {
				@include clearfix;
				position:relative;
				.skill {
					float:left;
					margin-right:3.5%;
					margin-top:-40px;
					width:31%;
					&:nth-child(3) {
						margin-right:0;
					}
					&:nth-child(4) {
						margin-left:17%;
					}
					&:nth-child(4),&:nth-child(5) {
						margin-top:-17px;
					}
					.skill-icon {
						img {
							width:100%;
							height:100%;
						}
					}
					.skill-text {
						height:0;
						overflow:hidden;
						position:absolute;
					}
				}
				//.skill
			}
			//.skills-list
		}
		//.skills-list-wrap
	}
	//.home-skills
}
// .site-content
.site-footer {
	background:$drkrgry;
	text-align:center;
	.site-info {
		padding:20px 30px;
	}
	span {
		@include font(#a5abaf,$font,11px);
		display:inline-block;
	}
	img {
		display:inline-block;
		margin:0 5px;
		vertical-align:middle;
	}
	a {
		@include font(#a5abaf,$font,11px);
		&:visited, &:hover, &:active {
			text-decoration:none;
		}
	}
}

//transition on menu open
.site-content, .site-footer {
	@include transition(opacity .25s ease-in-out);
}
.site-content {
	background:url(../img/mobile_bg.png) top center no-repeat;
	padding-top:150px;
}