* {
	@include box-sizing(border-box);
	margin:0;
	padding:0;
}

body,html {}

body {
	@include font($drkgry,$font,14px);
	background:$ltrgry;
	line-height:1;
	padding-bottom:-1px;
	&.toggled {
		overflow:hidden;
		.site-header {
			.toggles {
				.menu-toggle {
					background:url(../img/menu_toggle-close.svg) center center no-repeat;
				}
			}
			//.toggles
			.social {
				@include opacity(100);
				pointer-events:auto;
			}
		}
		.site-content,.site-footer{}
		.site-content {
			opacity:0;
		}
		.site-footer {
			opacity:0;
		}
	}
	.site {
		margin-bottom:-1px;
	}
}

/* TYPOGRAPHY
********************************/

.site-content {
	h1,h2,h3,h4,h5,h6 {
		line-height:1.25em;
		margin:0 0 .25em;
		text-transform:uppercase;
	}
}

h1, {
	@include font($drkgry,$font,42px);
}
h2, {
	@include font($drkgry,$font,38px);
}
h3, {
	@include font($drkgry,$font,32px);
}
h4, {
	@include font($drkgry,$font,24px);
}
h5, {
	@include font($drkgry,$font,18px);
}
h6, {
	@include font($drkgry,$font,16px);
}

p {
	@include font($drkgry,$font,14px);
	line-height:1.8em;
	margin:0 0 1em;
	// Bolding and Italicizing inside P tags
	b, strong {
		font-family:$md-font;
		font-weight:normal;
		font-style:normal;
		& em, & i {
			font-family:$md-font-it;
			font-style:normal;
		}
	}
	i, em {
		font-family:$font-it;
		font-style:normal;
		& b, & strong {
			font-family:$md-font-it;
			font-weight:normal;
			font-style:normal;
		}
	}
}
// Bolding and Italicizing outside of P tags
b, strong {
	font-family:$md-font;
	font-weight:normal;
	font-style:normal;
	& em, & i {
		font-family:$md-font-it;
		font-style:normal;
	}
}
i, em {
	font-family:$font-it;
	font-style:normal;
	& b, & strong {
		font-family:$md-font-it;
		font-weight:normal;
		font-style:normal;
	}
}

a {
	color:$grn;
	text-decoration:none;
	&:visited,
	&:hover,
	&:active {
		text-decoration:none;
	}
	&:hover {
		color:lighten($grn,10%);
	}
}

/* BUTTONS & FORMS
********************************/

$btn-padding:13px 17px 11px;

.btn {
  @include button($grn,$btn-padding,20px);
}

.gform_wrapper {
	text-align:left;
	.gf_progressbar_wrapper {
		padding-bottom:25px;
		.gf_progressbar_title {
			font-size:12px;
		}
		.gf_progressbar {
			@include border-radius(10px);
			background:$blu;
			border:1px solid darken($blu,15%);
			overflow:hidden;
			.gf_progressbar_percentage {
				background:darken($blu,10%);
				color:$wht;
				font-size:11px;
				padding:4px 0 1px;
				text-align:right;
				&.percentbar_0 {
					padding-left:10px;
					span {
						display:block;
						padding-left:10px;
					}
				}
				&.percentbar_50 {
					padding-right:12px;
				}
			}
		}
		//.gf_progressbar
	}
	//.gf_progressbar_wrapper
	.gform_confirmation_wrapper {
		@include hide-text;
		background:url(../img/check.svg) center center no-repeat;
		background-size:100%;
		height:0;
		padding-bottom:100%;
		width:100%;
	}
	.validation_error {}
	//.validation_error
	.gform_body {
		input,textarea {
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			outline:none !important;
		}
		.gform_page {
			.gform_page_fields {
				.gform_fields {
					.gfield {
						padding-bottom:10px;
						width:100%;
						&.gsection {
							padding-bottom:20px;
							.gsection_title {
								border-bottom:1px solid $ltgry;
								font-size:28px;
							}
						}
						//.gsection
						&.full {}
						&.half {
							&.right {}
						}
						.gfield_label {
							@include font($drkgry,$bld-font,16px);
							display:block;
							padding-top:20px;
							vertical-align:top;
							.gfield_required {
								color:red;
								font-size:24px;
								padding-left:10px;
								vertical-align:middle;
							}
						}
						.ginput_container {
							& > input, textarea {
								@include border-radius(5px);
								background:$ltgry;
								border:1px solid lighten($drkgry,55%);
								padding:10px 15px;
								width:100%;
								&::-webkit-input-placeholder {
								   color: darken($ltgry,20%);
								}
								&:-moz-placeholder { /* Firefox 18- */
								   color: darken($ltgry,20%);  
								}
								&::-moz-placeholder {  /* Firefox 19+ */
								   color: darken($ltgry,20%);  
								}
								&:-ms-input-placeholder {  
								   color: darken($ltgry,20%);  
								}
							}
							textarea {
								resize:none;
							}
							.gfield_radio {
								margin:0 0 10px;
								li {
									height:25px;
									overflow:hidden;
								}
								input {
									display:none;
								}
								label {
									background:url(../img/radio_buttons.png) no-repeat top left;
									display:block;
									font-size:12px;
									padding:7px 0 5px 25px;
								}
								input:checked + label {
									background-position: bottom left;
								}
							}
							//.gfield_radio
							.ginput_counter {
								color:darken($ltgry,10%);
								font-size:10px;
								padding:10px 10px 0;
							}
						}
						//.ginput_container
						.gfield_description {
							padding:10px;
							&.validation_message {
								@include border-bottom-radius(5px);
								background:lighten(desaturate(red,65%),35%);
								border:1px solid lighten(desaturate(red,60%),25%);
								color:darken(desaturate(red,60%),5%);
								margin-top:-3px;
								padding:13px 15px 10px;
							}
						}
						&.gfield_error {
							.ginput_container {
								input[type=text],textarea {
									border-bottom:3px solid darken(desaturate(red,60%),5%);
								}
								.ginput_counter {
									display:none;
								}
							}
							.gfield_description {
								display:none;
								&.validation_message {
									display:block;
								}
							}
						}
						//.gfield_error
					}
					//.gfield
					.gform_validation_container {
						display:none !important;
					}
					//.gform_validation_container
				}
				//.gform_fields
			}
			//.gform_page_fields
			.gform_page_footer {
				input[type=button] {
					@include button($blu,10px 15px 8px,20px);
					border:none;
					&.gform_previous_button {
						margin-right:5px;
					}
					&.gform_next_button {}
				}
				input[type=submit] {
					@include button(darken(desaturate($blu,10%),20%),10px 15px 8px,20px);
					border:none;
				}
			}
			//.gform_page_footer
		}
		//.gform_page
	}
	//.gform_body
}
//.gform_wrapper

/* CTA SECTIONS
********************************/

.cta {
	background:$drkgry;
	text-align:center;
	.wrapper {
		padding:40px 30px !important;
	}
	.cta-title {
		@include font($ltgry,$md-font,24px);
		margin-bottom:.5em;
	}
	.cta-text {
		@include font($wht,$font,16px);
		margin-bottom:20px;
	}
	// ABOUT PAGE CTA
	.about & {
		.cta-title {
			color:$pnk;
		}
		.btn {
			@include button($pnk,$btn-padding,20px);
			@include box-shadow(0, 3px, 0, darken(desaturate($pnk,50%),20%), $inset: false);
		}
	}

	// WORK PAGE CTA
	.work & {
		.cta-title {
			color:$grn;
		}
		.btn {
			@include button($grn,$btn-padding,20px);
			
		}
	}

	// BLOG PAGE CTA
	.blog & {
		.cta-title {
			color:$ylw;
		}
		.btn {
			@include button($ylw,$btn-padding,20px);
			@include box-shadow(0, 3px, 0, darken($ylw,15%), $inset: false);
		}
	}

	// CONTACT PAGE CTA
	.contact & {
		.cta-title {
			color:$blu;
		}
		.btn {
			@include button($blu,$btn-padding,20px);
			@include box-shadow(0, 3px, 0, darken($blu,15%), $inset: false);
		}
	}
	.single-jtw_work & {
		.wrapper {
			padding-left:10% !important;
			padding-right:10% !important;
		}
		.cta-content {
			float:none;
			text-align:center;
			width:100%;
			.cta-whats-next {
				color:lighten($drkrgry,30%);
				font-size:20px;
				padding-bottom:25px;
			}
		}
		.btn {
			display:inline-block;
			float:none;
			font-size:15px;
			margin:0 4px;
			padding:12px 12px 8px;
		}
	}
}
//.cta

.slide_link {
	background:url(../img/circle_arrow_divide.svg) center center no-repeat;
	content:"";
	display:block;
	height:22px;
	margin:25px auto 0;
	width:22px;
}

/* MOBILE NAVIGATION
********************************/
$head-marg:283px;
.mobile-navigation {
	background:$drkgry;
	height:$head-marg;
	overflow:hidden;
	position:relative;
	.menu-main-navigation-container {
		padding:35px 30px 0;
		width:100%;
		.menu {
			@include clearfix;
			margin:0;
			padding:0;
			.menu-item {
				float:left;
				margin:0 7% 28px 0;
				width:46.5%;
				a {
					@include border-radius(10px);
					@include font($wht,$font,18px);
					background:$drkrgry;
					display:block;
					min-height:96px;
					padding-top:66px;
					position:relative;
					text-align:center;
					text-transform:lowercase;
					$width:69px;
					&:before {
						content:"";
						display:block;
						height:75px;
						left:50%;
						margin-left:-$width/2;
						position:absolute;
						top:-18px;
						width:$width;
					}
				}
				//a
				&.about {
					a {
						&:before {
							background:url(../img/mobile_icon_about.svg) no-repeat;
							background-size:100%;
						}
					}
				}
				//.about
				&.work {
					a {
						&:before {
							background:url(../img/mobile_icon_work.svg) no-repeat;
							background-size:100%;
						}
					}
				}
				//.work
				&.blog {
					a {
						&:before {
							background:url(../img/mobile_icon_blog.svg) no-repeat;
							background-size:100%;
						}
					}
				}
				//.blog
				&.contact {
					a {
						&:before {
							background:url(../img/mobile_icon_contact.svg) no-repeat;
							background-size:100%;
						}
					}
				}
				//.contact
				&:nth-child(2n) {
					margin-right:0;
				}
			}
			//.menu-item
		}
		//.menu
	}
	//.menu-main-navigation-container
}
//.mobile-navigation

/* HEADER
********************************/

.wrapper {
	@include clearfix;
}

.site-header {
	@include transition(margin-top .4s ease-in-out);
	margin-top:-$head-marg;
	position:fixed;
	text-align:center;
	top:0;
	width:100%;
	z-index:1000;
	.wrapper {
		background:url(../img/mobile_header_bg.png) bottom center no-repeat;
		margin-top:-1px; // fixes broken line in transition
		min-height:104px;
		position:relative;
		z-index:initial;
	}
	.site-branding {
		padding-top:12px;
		.site-title, .site-description {
			display:inline-block;
			img {
				display:block;
			}
		}
		.site-description {
			display:none;
		}
	}
	//.site-branding
	.main-navigation {
		display:none;
	}
	.toggles {
		position:relative;
		.menu-toggle, .hire-me {
			display:block;
			height:18px;
			position:absolute;
			width:18px;
			top:-20px;
		}
		.menu-toggle {
			background:url(../img/menu_toggle.svg) center center no-repeat;
			left:50%;
			margin-left:-109px;
		}
		.hire-me {
			background:url(../img/hire_button.svg) center center no-repeat;
			right:50%;
			margin-right:-110px;
			top:-21px;
		}
	}
	//.toggles
	.social {
		@include opacity(0);
		@include transition(opacity .15s 0 ease-in-out);
		background: url(../img/mobile_bg.png) top center no-repeat;
		height: 222px;
		pointer-events:none;
		position: absolute;
		width: 100%;
		top: 0;
		z-index: -1;
		a {
			@include hide-text;
			height:20px;
			position:absolute;
			width:20px;
			z-index:11;
			&.dribbble {
				background:url(../img/social_dribbble.svg) center center no-repeat;
				background-size:45%;
				height:50px;
				left:50%;
				margin-left:-75px;
				top:79px;
				width:50px;
			}
			&.twitter {
				background:url(../img/social_twitter.svg) center center no-repeat;
				background-size:100%;
				height:30px;
				left:50%;
				margin-left:-15px;
				top:117px;
				width:30px;
			}
			&.linkedin {
				background:url(../img/social_linkedin.svg) center center no-repeat;
				background-size:45%;
				height:50px;
				right:50%;
				margin-right:-76px;
				top:78px;
				width:50px;
			}

		}
	}
	//.social
	&.toggled {
		margin-top:0;
	}
}
//.site-header

.site-content {
	.wrapper {
		padding:0 30px;
		.cta & {
			padding:40px 30px;
		}
	}

	// HOMEPAGE STYLES
	/***********************************/
	.main-banner {
		text-align:center;
		.main-title {
			@include font($drkgry,$bld-font,42px);
			-webkit-transition-delay: .5s;
			line-height:.75em;
    		transition-delay: .5s;
			text-transform:uppercase;
			span {
				@include font($drkgry,$font,20px);
				display:block;
			}
		}
	}
	//.main-banner
	.home-skills {
		padding-top:30px;
		.skills-header {
			.skills-title {
				@include font($ltgry,$bld-font,112px);
				margin:0;
				text-align:center;
				text-transform:lowercase;
			}
		}
		//.skills-header
		.skills-list-wrap {
			background:$ltgry;
			margin-top: -42px;
			padding-bottom:20px;
			.wrapper {
				margin-top:-20px;
				padding-bottom:20px;
			}
			.skills-icons {
				@include clearfix;
				margin:0;
				position:relative;
				.skill-icon {
					float:left;
					margin-right:3.5%;
					margin-top:-28px;
					position:relative;
					width:31%;
					&:nth-child(3) {
						margin-right:0;
					}
					&:nth-child(4) {
						margin-left:17%;
					}
					&:nth-child(4),
					&:nth-child(5) {
						@include transition(margin-top .25s ease-in-out);
						height:auto;
						margin-top:-13px;
					}
					img {
						height:auto;
						width:100%;
					}
					&.toggled {
						margin-top:105px;
						&.triangle-toggled {
							&:after {
								border-color: transparent transparent $drkrgry transparent;
								border-style: solid;
								border-width: 0 10px 16px 10px;
								top:-11px;
								content:"";
								display:block;
								height: 0;
								left:50%;
								margin-left:-10px;
								position:absolute;
								width: 0;
							}
						}
						//.text-toggled
					}
					//.toggled
					&.triangle-toggled {
						&:after {
							border-color: $drkrgry transparent transparent transparent;
							border-style: solid;
							border-width: 16px 10px 0 10px;
							bottom:-7px;
							content:"";
							display:block;
							height: 0;
							left:50%;
							margin-left:-10px;
							position:absolute;
							width: 0;
						}
					}
					//.triangle-toggled
					.skill-icon {
						position:relative;
						img {
							width:100%;
							height:100%;
						}
					}
				}
				//.skill
			}
			//.skills-icons
			.skills-text {
				margin:-180px 0 0;
				position:relative;
				.skill-text {
					@include opacity(0);
					@include transition(opacity .25s 0 ease-in-out);
					font-size:16px;
					left:0;
					line-height:1.4em;
					overflow:hidden;
					pointer-events:none;
					position:absolute;
					right:0;
					text-align:center;
					top:0;
					width:100%;
					p {
					}
					&.text-toggled {
						@include transition(opacity .25s .25s ease-in-out);
						@include opacity(100);
					}
				}
			}
			//.skills-text
		}
		//.skills-list-wrap
	}
	//.home-skills
	.section-bottom {
		display:none;
	}

	/***********************************/
	// END OF HOMEPAGE STYLES
	
	// INTERIOR STYLES
	/***********************************/
	
	.single-post & {
		.sidebar {
			display:none;
		}
	}

	.content-area {
		.entry-header {
			background:lighten($drkgry,5%);
			position:relative;
			.entry-info {
				bottom:0;
				left:0;
				margin:auto;
				position:absolute;
				right:0;
				top:35%;
				text-align:center;
				z-index:2;
				.entry-icon {
					margin:0 auto 20px;
					width:100px;
					img {
						height:auto;
						width:100%;
					}
				}
				.entry-tagline {
					margin:0 auto;
					width:80%;
					.entry-title {
						@include font($wht,$font,25px);
						line-height:1.2em;
						text-transform:none;
					}
				}
			}
			//.entry-info
			.entry-image {
				height:0;
				overflow:hidden;
				padding-bottom:125%;
				position:relative;
				img {
					@include transform(translate(-50%,-50%));
					@include opacity(20);
					height:100%;
					left:50%;
					position:absolute;
					top:50%;
					width:auto;
					z-index:1;
				}
			}
			//.entry-image
		}
		//.entry-header
		.type-page {
			.entry-content {
				padding:30px;
				text-align:center;
			}
			//.entry-content

			.add-skills {
				background:$ltgry;
				padding:40px 30px;
				text-align:center;
				.add-skills-header {
					padding-bottom:15px;
					.add-skills-title {
						@include font($drkgry,$md-font,20px);
						text-transform:none;
					}
				}
				//.add-skills-header
				.add-skills-content {
					.skills {
						@include clearfix;
						margin:0;
						.skill {
							float:left;
							margin-right:3%;
							position:relative;
							width:31.3333%;
							.skill-icon {
								img {
									height:auto;
									width:100%;
								}
							}
							//.skill-icon
							&:last-child {
								margin:0;
							}
						}
						//.skill
					}
					//.skills
				}
				//.add-skills-content
			}
			//.add-skills
		}
		//.type-page
		.type-jtw_work {
			.entry-header {
				background:$grn;
				padding:134px 0 40px;
				.entry-info {
					position:relative;
					.client-logo {
						margin:0 auto 30px;
						width:50%;
						img {
							@include opacity(50);
							height:auto;
							width:100%;
						}
					}
					//.client-logo
					.entry-title {
						@include font($wht,$font,32px);
					}
					.entry-desc {
						@include font($wht,$font,16px);
						line-height:1.5em;
						margin:0 auto;
						padding:0 35px;
						max-width:615px;
						.done-at-burst {
							@include font(lighten($grn,10%),$font,14px);
							display:block;
							line-height:1.5em;
							padding-bottom:15px;
							a {
								color:lighten($grn,17%);
								&:hover {
									color:lighten($grn,22%);
								}
							}
						}
						a {
							color:lighten($grn,10%);
							&:hover {
								color:lighten($grn,15%);
							}
						}
					}
				}
				//.entry-info
				.entry-image {
					display:none;
					img {
						@include opacity(5);
					}
				}
			}
			//.entry-header
			.contribution {
				background:$drkrgry;
				padding:28px 25px 25px;
				text-align:center;
				.contribution-title {
					@include font($wht,$lt-font,18px);
					line-height:1.3em;
					margin:0;
					span {
						color:lighten($drkrgry,30);
						display:block;
						font-size:12px;
					}
				}
				.slide_link {
					@include opacity(40);
					margin-top:10px;
				}
			}
			.entry-content {
				padding:0 !important;
				.detail {
					.wrapper {
						padding:40px 30px 50px;
					}
					.detail-header {
						padding-bottom:20px;
						text-align:center;
						.detail-title {
							@include font($drkgry,$lt-font,24px);
							line-height:1.2em;
						}
					}
					//.detail-header
					.detail-content {
						.detail-image {
							.container {
								img {
									display:block;
									height:auto;
									width:100%;
								}	
							}
							&.is-website {
								@include border-radius(2%);
								@include box-shadow(0,5px,20px,rgba(0,0,0,.25));
								background:url(../img/browser-topbar.svg) top no-repeat;
								background-size:101.5%;
								overflow:hidden;
								padding-top:9.5%;
								.container {}
							}
						}
						//.detail-image
					}
					//.detail-content
					&:nth-of-type(2n) {
						background:$ltgry;
					}
				}
				//.detail
			}
			//.entry-content
		}
		//.type-jtw_work
		.work-archive {
			overflow:hidden;
			.entry-content {
				@include clearfix;
				background:$drkrgry;
				padding:0 !important;
				.project {
					@include box-shadow(0, 0, 50px, rgba(0,0,0,.3), $inset:true);
					background:$ltrgry;
					float:left;
					position:relative;
					width:50%;
					.project-image {
						height:0;
						overflow:hidden;
						padding-bottom:100%;
						position:relative;
						img {
							@include transform(translate(-50%,-50%) rotate(-10deg));
							@include opacity(10);
							display:block;
							height:120%;
							left:50%;
							position:absolute;
							top:50%;
							width:auto;
						}
					}
					//.project-image
					.project-content {
						position:absolute;
						top:40%;
						width:100%;
						.project-title {
							font-family:$md-font;
							margin-bottom:10px;
							padding:0 15px;
						}
						.project-tags {
							margin:0;
							padding:0 20px;
							text-align:center;
							.tag {
								@include font(darken($grn,10%),$font,10px);
								background:url(../img/tag.svg) 0 1px no-repeat;
								background-size:10px;
								display:inline-block;
								margin:0 0 0 5px;
								padding-left:13px;
								padding-bottom:4px;
								&:first-child {
									margin:0;
								}
							}
						}
						//.project-tags
					}
					//.project-content
				}
				//.project
			}
			//.entry-content
		}
		//.work-archive
		.blog-archive {
			.entry-content {
				padding:0;
				.post {
					@include transition(background .25s ease-in-out);
					background:$drkgry;
					position:relative;
					.wrapper {
						@include clearfix;
						padding:0;
						position:relative;
					}
					.meta {
						@include transition(background .25s ease-in-out);
						background:$ylw;
						bottom:0;
						left:0;
						padding-top:15px;
						position:absolute;
						right:80%;
						text-align:center;
						top:0;
						.posted-on {
							background-size:100%;
							display:inline-block;
							span {
								color:$wht;
								display:block;
								text-transform:uppercase;
								&.posted {
									font-size:7.5px;
								}
								&.month {
									font-size:16px;
									padding-top:2px;
								}
								&.day {
									color:$drkgry;
									font-size:25px;
								}
							}
						}
						//.posted-on
					}
					//.meta
					.post-content {
						float:right;
						min-height:80px;
						padding:18px;
						text-align:left;
						width:80%;
						.post-title {
							color:$ylw;
							font-size:18px;
							margin-bottom:8px;
							text-transform:none;
						}
						.post-tags {
							margin:0;
							.tag {
								background:url(../img/tag.svg) 0 1px no-repeat;
								background-size:10px;
								color:$wht;
								display:inline-block;
								font-size:10px;
								margin:0 5px 0 0;
								padding-left:15px;
							}
						}
					}
					//.post-content
					&:nth-child(2n) {
						background:darken($drkgry,2%);
						.meta {
							background:darken(desaturate($ylw,15%),5%);
						}
					}
					&:hover {
						background:lighten($drkgry,2%);
						.meta {
							background:lighten(desaturate($ylw,5%),5%);
						}
					}
				}
				//.post
			}
			//.entry-content
			.sidebar {
				background:darken($ltgry,5%);
				padding:20px;
				.widget {
					.widget-title {
						background:$drkgry;
						border-bottom:4px solid $ylw;
						color:$wht;
						font-size:16px;
						margin:0;
						padding:15px 20px;
					}
					ul {
						border-bottom:8px solid $drkgry;
						margin:0 0 30px;
						padding:0;
						li {
							background:$ltrgry;
							a {
								@include transition(padding .25s ease-in-out);
								color:$drkgry;
								display:block;
								padding:10px 20px;
							}
							&:nth-child(even) {
								background:darken($ltrgry,4%);
							}
							&:hover {
								a {
									padding-left:25px;
								}
							}
						}
					}
				}
				//.widget
			}
			//.sidebar
		}
		//.blog-archive
		&.single-post {
			.entry-content {
				padding:30px;
				img {
					float:none;
					height:auto;
					width:100%;
					&.alignleft {
						margin-right:0;
					}
					&.alignright {
						margin-left:0;
					}
				}
			}
			//.entry-content
			.post-navigation {
				@include clearfix;
				background:$drkrgry;
				a {
					background:$ylw;
					color:$wht;
					display:block;
					padding:10px 15px 8px;
					text-transform:uppercase;
					&:first-child {
						float:left !important;
					}
					&:last-child {
						float:right;
					}
				}
			}
		}
		//.single-post
		.comments {
			background:$drkgry;
			padding:30px;
			text-align:center;
			h3 {
				color:$wht;
				padding-bottom:20px;
				&#comments {
					font-size:18px;
				}
			}
			.commentlist {
				border-bottom:1px solid lighten($drkgry,5%);
				margin:0 0 20px;
				padding-bottom:20px;
				.comment {
					border-left:4px solid $ylw;
					margin-bottom:25px;
					text-align:left;
					a {
						color:$ylw;
					}
					.comment-body {
						padding-left:15px;
						.comment-meta {
							padding:7px 0;
							.comment-author {
								color:$wht;
								font-size:16px;
								img {
									display:none;
								}
							}
							//.comment-author
							.comment-metadata {
								padding-top:5px;
								a {
									color:lighten($drkgry,20%);
									font-size:10px;
								}
							}
							//.comment-metadata
							.comment-awaiting-moderation {
								color:$wht;
							}
						}
						//.comment-meta
						.comment-content {
							p {
								color:$wht;
								font-size:16px;
							}
						}
						//.comment-content
						.comment-reply-link {
							@include button($ylw,8px 10px 5px,11px);
							text-transform:uppercase;
							text-shadow:0 1px 1px darken(desaturate($ylw,40%),20%);
						}
					}
					//.comment-body
					#respond {
						border-left:4px solid darken(desaturate($ylw,40%),30%);
						margin-left:-4px;
						padding:15px 0 20px 15px;
						width:100%;
						h3 {
							font-size:16px;
							padding:0;
						}
					}
					//#respond
					.children {
						.comment {
							border:none;
							border-bottom:1px solid lighten($drkgry,8%);
							background:lighten($drkgry,3%);
							margin-bottom:0;
							padding:5px 0 20px;
						}
					}
					//.children
				}
				//.comment
			}
			//.commentlist
			#respond {
				#cancel-comment-reply-link {
					display:block;
					padding-bottom:20px;
				}
				p {
					color:$wht;
					text-align:left;
				}
				form {
					@include clearfix;
				}
				label {
					color:lighten($drkgry,50%);
				}
				input[type=text],textarea {
					@include border-radius(5px);
					background:lighten($drkgry,5%);
					border:none;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					box-shadow: none;
					color:lighten($drkgry,35%);
					outline:none;
					padding:10px 15px;
					width:100%;
				}
				textarea {
					resize:none;
				}
				input[type=submit] {
					@include button($ylw,12px 15px 9px,18px);
					border:none;
					width:100%;
				}
			}
			//#respond
		}
		//.comments
	}
	//.content-area

	/***********************************/
	// END OF INTERIOR STYLES
	
}
// .site-content
.site-footer {
	background:$drkrgry;
	text-align:center;
	.site-info {
		padding:22px 0;
	}
	span {
		@include font(#a5abaf,$font,11px);
		display:inline-block;
	}
	img {
		display:inline-block;
		margin:0 5px;
		vertical-align:middle;
	}
	a {
		@include font(#a5abaf,$font,11px);
		&:visited, &:hover, &:active {
			text-decoration:none;
		}
	}
}

//transition on menu open
.site-content, .site-footer {
	@include transition(opacity .35s 0 ease-in-out);
}
.site-content {
	background:url(../img/mobile_bg.png) top center no-repeat;
	.home & {
		padding-top:150px;
	}
}



/* ADDITIONAL BREAKPOINTS
********************************/

@media screen and (min-width:400px) {
	.site-content {
		.home-skills{
			.skills-list-wrap {
				.skills-text {
					margin-top:-200px;
					.skill-text {}
				}
			}
			//.skills-list-wrap
		}
		//.home-skills
	}
	//.site-content
}
// end Media Query


/* ROTATE ORIENTATION
********************************/

@media screen and (max-height:350px) {
	$head-marg-rotate: 180px;
	.mobile-navigation {
		height:$head-marg-rotate;
		.menu-main-navigation-container {
			padding-top:42px;
			.menu {
				.menu-item {
					float:left;
					margin:0 4% 30px 0;
					width:22%;
					a {
						&:before {
							margin-left:-30px;
							width:60px;
						}
					}
					//a
					&:nth-child(2) {
						margin-right:4%;
					}
					&:last-child {
						margin-right:0;
					}
				}
				//.menu-item
			}
			//.menu
		}
		//.menu-main-navigation-container
		&.toggled {
			.menu-main-navigation-container {}
		}
	}
	//.mobile-navigation
	
	.site-header {
		margin-top:-$head-marg-rotate;
		.wrapper {
			@include clearfix;
			background:$drkgry none;
			min-height:45px;
			margin-top:-1px; // fixes broken line in transition
			padding:10px 20px;
		}
		.site-branding {
			float:left;
			padding:0;
			.site-title, .site-description {
				display:block;
				vertical-align:middle;
				img {
					display:block;
					height:auto;
					width:100%;
				}
			}
			.site-title {
				display:inline-block;
				margin-right:5px;
				width:35px;
			}
			.site-description {
				display:inline-block;
				width:90px;
			}
		}
		//.site-branding
		.toggles {
			float:right;
			padding-top:7px;
			.menu-toggle, .hire-me {
				display:inline-block;
				margin:0;
				position:static;
			}
			.menu-toggle {
				background-position:center 2.5px;
				margin-right:5px;
			}
			.hire-me {}
		}
		//.toggles
		.social {
			background:lighten($drkgry,50%);
			left:0;
			top:-15px;
			width:100%;
			a {
				&.twitter {
					top:89px;
				}	
			}

		}
		&.toggled {
			margin-top:0;
		}
	}
	//.site-header
	.site-content {
		.home & {
			padding-top:110px;
		}
	}
}
//end Media Query