/* COLORS
********************************/

$blk: #000;
$wht: #fff;

$pnk: #ff8772;
$grn: #009491;
$ylw: #ffc845;

$ltgry: #c7cdd3;
$ltrgry: #dae1e7;
$drkgry: #2c2f31;
$drkrgry: #1f2022; 


/* FONT VARIABLES
********************************/

$font: "panefresco_400wtregular", sans-serif;
$md-font: "panefresco_750wtregular", sans-serif;
$bld-font: "panefresco_999wtregular", sans-serif;
$font-it: "panefresco_400wtitalic", sans-serif;
$font-lt-it: "panefresco_1wtitalic", sans-serif;
$md-font-it: "panefresco_750wtitalic", sans-serif;
$bld-font-it: "panefresco_999wtitalic", sans-serif;
$bldr-font-lt-it: "panefresco_1wtitalic", sans-serif;

/* FONT-FACE
********************************/

@font-face {
    font-family: 'panefresco_1wtregular';
    src: url('fonts/panefresco1wtregular-webfont-webfont.eot');
    src: url('fonts/panefresco1wtregular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/panefresco1wtregular-webfont-webfont.woff2') format('woff2'),
         url('fonts/panefresco1wtregular-webfont-webfont.woff') format('woff'),
         url('fonts/panefresco1wtregular-webfont-webfont.ttf') format('truetype'),
         url('fonts/panefresco1wtregular-webfont-webfont.svg#panefresco_1wtregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'panefresco_1wtitalic';
    src: url('fonts/panefresco1wtitalic-webfont-webfont.eot');
    src: url('fonts/panefresco1wtitalic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/panefresco1wtitalic-webfont-webfont.woff2') format('woff2'),
         url('fonts/panefresco1wtitalic-webfont-webfont.woff') format('woff'),
         url('fonts/panefresco1wtitalic-webfont-webfont.ttf') format('truetype'),
         url('fonts/panefresco1wtitalic-webfont-webfont.svg#panefresco_1wtitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'panefresco_400wtitalic';
    src: url('fonts/panefresco400wtitalic-webfont-webfont.eot');
    src: url('fonts/panefresco400wtitalic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/panefresco400wtitalic-webfont-webfont.woff2') format('woff2'),
         url('fonts/panefresco400wtitalic-webfont-webfont.woff') format('woff'),
         url('fonts/panefresco400wtitalic-webfont-webfont.ttf') format('truetype'),
         url('fonts/panefresco400wtitalic-webfont-webfont.svg#panefresco_400wtitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'panefresco_750wtregular';
    src: url('fonts/panefresco750wtregular-webfont-webfont.eot');
    src: url('fonts/panefresco750wtregular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/panefresco750wtregular-webfont-webfont.woff2') format('woff2'),
         url('fonts/panefresco750wtregular-webfont-webfont.woff') format('woff'),
         url('fonts/panefresco750wtregular-webfont-webfont.ttf') format('truetype'),
         url('fonts/panefresco750wtregular-webfont-webfont.svg#panefresco_750wtregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'panefresco_750wtitalic';
    src: url('fonts/panefresco750wtitalic-webfont-webfont.eot');
    src: url('fonts/panefresco750wtitalic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/panefresco750wtitalic-webfont-webfont.woff2') format('woff2'),
         url('fonts/panefresco750wtitalic-webfont-webfont.woff') format('woff'),
         url('fonts/panefresco750wtitalic-webfont-webfont.ttf') format('truetype'),
         url('fonts/panefresco750wtitalic-webfont-webfont.svg#panefresco_750wtitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'panefresco_400wtregular';
    src: url('fonts/panefresco400wtregular-webfont-webfont.eot');
    src: url('fonts/panefresco400wtregular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/panefresco400wtregular-webfont-webfont.woff2') format('woff2'),
         url('fonts/panefresco400wtregular-webfont-webfont.woff') format('woff'),
         url('fonts/panefresco400wtregular-webfont-webfont.ttf') format('truetype'),
         url('fonts/panefresco400wtregular-webfont-webfont.svg#panefresco_400wtregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'panefresco_999wtregular';
    src: url('fonts/panefresco999wtregular-webfont-webfont.eot');
    src: url('fonts/panefresco999wtregular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/panefresco999wtregular-webfont-webfont.woff2') format('woff2'),
         url('fonts/panefresco999wtregular-webfont-webfont.woff') format('woff'),
         url('fonts/panefresco999wtregular-webfont-webfont.ttf') format('truetype'),
         url('fonts/panefresco999wtregular-webfont-webfont.svg#panefresco_999wtregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'panefresco_999wtitalic';
    src: url('fonts/panefresco999wt-italic-webfont-webfont.eot');
    src: url('fonts/panefresco999wt-italic-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/panefresco999wt-italic-webfont-webfont.woff2') format('woff2'),
         url('fonts/panefresco999wt-italic-webfont-webfont.woff') format('woff'),
         url('fonts/panefresco999wt-italic-webfont-webfont.ttf') format('truetype'),
         url('fonts/panefresco999wt-italic-webfont-webfont.svg#panefresco_999wtitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* FONT-MIXIN
********************************/

@mixin font($color,$font-family,$font-size) {
	color:$color;
	font-family:$font-family;
	font-size:$font-size;
	font-style:normal;
	font-weight:normal;
}

/* MISC CLASSES
********************************/

// text alignment
.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }
 
// img alignment
.alignleft { float:left; margin-right:20px; }
.alignright { float:right; margin-left:20px; }

a.full {
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0;
  z-index:10;
}

//Pulse animation for buttons
@-webkit-keyframes pulse_animation {
  0% { -webkit-transform: scale(1); }
  30% { -webkit-transform: scale(1); }
  40% { -webkit-transform: scale(1.2); }
  50% { -webkit-transform: scale(1); }
  60% { -webkit-transform: scale(1); }
  70% { -webkit-transform: scale(1.2); }
  80% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1); }
}

.pulse {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 4000ms;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

/* MISC MIXINS
********************************/

// Box model
@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model;
	-moz-box-sizing: $box-model;
	box-sizing: $box-model;
}

// Box Shadow
@mixin box-shadow($left, $top, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $left $top $blur $color;
    -moz-box-shadow:inset $left $top $blur $color;
    box-shadow:inset $left $top $blur $color;
  } @else {
    -webkit-box-shadow: $left $top $blur $color;
    -moz-box-shadow: $left $top $blur $color;
    box-shadow: $left $top $blur $color;
  }
}

// Border radius
@mixin border-radius($radius) {
	background-clip: padding-box; /* stops bg color from leaking outside the border: */
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
	behavior: url(pie/PIE.htc);
}

// Top Border Radius
@mixin border-top-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	-moz-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	-moz-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
	behavior: url(pie/PIE.htc);
}

// Right Border Radius
@mixin border-right-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	-moz-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	background-clip: padding-box;
	behavior: url(pie/PIE.htc);
}

// Bottom Border Radius
@mixin border-bottom-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	background-clip: padding-box;
	behavior: url(pie/PIE.htc);
}

// Left Border Radius
@mixin border-left-radius($radius) {
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	-moz-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
	behavior: url(pie/PIE.htc);
}

// Gradients
@mixin gradient($fromColor, $toColor, $bgfallback) {
  background-color: $bgfallback; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

// Transitions
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin clearfix {
    &:before, &:after { content: ""; display: table; }
    &:after { clear: both; }
    zoom:1;
}

@mixin hide-text {
  text-indent: 300%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin reverse-hide-text {
  text-indent: 0;
  white-space: normal;
  overflow: visible;
}

// Button styles
@mixin button($color,$padding,$font-size) {
	@include border-radius(10px);
  @include box-shadow(0, 3px, 0, darken($color,10px), $inset: false);
	background:$color;
  color:$wht;
  display:inline-block;
  font-family:$md-font;
	font-size:$font-size;
	padding:$padding;
  text-transform:uppercase;
}